/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* FIX BOOTSTRAP CSS */
.container {
  max-width: 1400px;
}
.text-red{
    color: red;
}

/* section-dop-catalog */
.section-catalog {
  background-color: white;
}

.catalog__card {
  background-color: #fff;
}

.catalog__card__title {
  font-size: 1.3em;
  font-weight: bold;
}

.catalog__card__price {
  font-size: 1.8rem;
  font-weight: bold;
  color: red;
}

.catalog__card__price--old {
  text-decoration: line-through;
  display: inline-block;
  color: #6c757d;
}

.catalog__prices span:nth-child(4) {
  font-size: 1.2rem;
  font-weight: bold;
}

.dop-catalog__item{
    box-shadow: 2px 5px 1rem rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: box-shadow 1s;
    overflow: hidden;
}
.dop-catalog__item:hover{
    box-shadow: 2px 5px 1rem rgba(0, 0, 0, 0.4);
}
.dop-catalog__item img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
/* SECTION-HEADER */
.header-search {
    position: relative;
    width: 100%;
    height: 45px;
    border-width: 1px;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 12px 45px 12px 17px;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-color: #eee;
    background: #fff;
    outline: none;
}

.static-menu-main {
    background-color: #55b500;
}

.header-search input {
    position: absolute;
    outline: none;
    border: none;
    width: 90%;
}

.header-cal-phone {
    border-bottom: 1px dashed grey;
}

.header-info {
    font-size: 16px;
    font-weight: 600;
}

.header-phone a {
    color: #000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.header-phone {
    position: relative;
}

.header-phone a:hover {
    cursor: pointer;
    color: #55b500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.header-phone img {
    width: 40px;
    margin-right: 10px;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 15px;
}

.catalog__input {
  display: inline-block;
}
.catalog__input__label {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  border-radius: 1rem;
  border: 3px solid #808080;
  cursor: pointer;
  margin: 0.2rem;
  transition: all 0.3s;
}

.catalog__input__label:hover {
  box-shadow: 3px 3px 3px silver;
}

.catalog__input input:checked + .catalog__input__label {
  color: #09b53e;
  border: 3px solid #09b53e;
  box-shadow: 3px 3px 3px silver;
}
.catalog__input input {
  display:none;
}

/* SECTION-HEADER-MAIN */
.section-header-main {
    background-color: #000;
}

.header-static-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#header-icons {
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.static-menu-item {
    position: relative;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 3px 0 9px;
}

.static-menu-item a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.static-menu-item a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #0bb648;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.static-menu-item a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0bb648;
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.static-menu-item:hover {
    cursor: pointer;
}

.static-menu-item:hover > a:before {
    bottom: 9px;
    opacity: 1;
}

.static-menu-item:hover > a:after {
    top: 9px;
    opacity: 1;
}

/* SECTION CATALOG */
.card-image {
    overflow: hidden;
    position: relative;
}

.card-img-top-second {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.card-img-top-second:hover {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

/* SECTION-TITLE */
.section-title {
    margin: 30px;
}

/* SECTIONS-SERVICE */
.section-service {
    margin: 50px 0 50px 0;
}

.service-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.service-text {
    margin: 2px 0px 0px;
    font-size: 12px;
}

/* SECTION-RECORDS */
.section-records {
    margin: 50px 0 50px 0;
}

.records-image {
    height: 50px;
    width: 50px;
}

/* SECTION-CONTENT  */
.content-li-item {
    list-style: none;
    padding-left: 25px;
    margin-left: 10px;
    line-height: 1.6;
    background-image: url("https://static-eu.insales.ru/files/1/4667/9245243/original/bullet.svg");
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 2px 8px;
}

.content-item {
    border-top: 1px solid #dcdcdc
}

.content-item:last-child {
    border-bottom: 1px solid #dcdcdc
}

.content-item-title {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 55px;
    text-align: center;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px !important;
    line-height: 20px;
}

/* section-footer-form */
.section-footer-form{
    position: relative;
}
.section-footer-form:before{
    content: '';
    position: absolute;
    left: 0;
    top: 125px;
    width: 100%;
    height: 100%;
    background: url(../img/icons/price.png) no-repeat 65% top;
    background-size: 600px;
    z-index: 4;
    pointer-events: none;
}
.footer-form{
    position: relative;
    z-index: 3;
    border: 1px solid #000;
    background-color: #fff;
}
@media(max-width: 991px){
    body .section-footer{
        padding-top: 1rem;
    }
    .section-footer-form:before{
        display: none;
    }
}

/* section-footer */
.section-footer{
    background-color: #48405E;
    padding-top: 10rem;
    font-size: 22px;
}
.footer-wrap{
    border-top: 2px solid #FE0225;
}
.footer-wrap__phone{
    color: #fff;
    position: relative;
    margin-left: 50px;
    display: inline-block;
}
.footer-wrap__phone:before{
    content: '';
    background: url(../img/icons/img0105.png) no-repeat center center;
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
}
.footer-form__line:before{
    content: '';
    width: 4rem;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: .5rem;
    border-radius: 2px;
    background-color: #55b500;
}




/* CUSTOM */
.carousel {
    z-index: 0;
}

.payments {
    margin-top: 10px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product_card-rating {
    line-height: 18px;
    height: 18px;
    margin: 5px 0px 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.product_card-price-old {
    text-decoration: line-through;
    display: inline-block;
    color: #6c757d;
}

.product_card-price-old_2 {
    text-decoration: line-through;
    display: inline-block;
    color: #6c757d;
    font-size: 1.8rem;
}

.product_card-price {
    font-size: 1.8rem;
    font-weight: bold;
    color: red;
}

.product_card-price_2 {
    font-size: 2.8rem;
    font-weight: bold;
    color: red;
}

.product_card-prices {
    height: 70px;
}

.small-icon {
    width: 1.125em;
}

.middle-icon {
    margin-right: 10px;
    width: 60px;
}

.card {
    border: none;
}

.card-body-padding {
    padding: 1rem 0 1rem 0;
}

.product_card--shadow {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.product_card--shadow:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 0px 10px white, 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 10px white, 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}

button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none !important;
    background-color: #0bb648;;
    color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

button:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: #000;
    color: #fff;
}

.svg-inline--fa.fa-w-16.fa-fw {
    color: #55b500;
    width: 1.125em;
}

.fa-facebook-f,
.fa-instagram,
.fa-twitter,
.fa-vk,
.fa-youtube {
    width: 1.125em;
}

.social-item--youtube a {
    color: #ff0000 !important;
}

.fa-map-marker,
.fa-clock-o,
.fa-search,
.fa-id-card-o,
.fa-envelope-o,
.fa-envelope {
    color: #55b500;
    width: 1.125em;
}

.rating-item--unactive {
    color: #ccc;
}

.svg-inline--fa.fa-comment.fa-w-16 {
    color: #ccc;
    width: 1.125em;
}

.main-color {
    color: #55b500;
}

.second-color {
    color: #fff;
}

.text-h {
    font-size: 30px;
}

.text-m {
    font-size: 20px;
}

.colorTrigger {
    background-color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.colorTrigger a {
    color: #000;
}

.c__panel--black-60 a {
    color: #fff;
}

.c__panel--black-60 a:hover {
    text-decoration: none;
}

.custom-close {
    position: absolute;
    top: 0;
    right: 2px;
    z-index: 1111;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.custom-modal {
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.clear-block {
    background: none !important;
}

.modal-block {
    position: absolute;
    top: 1rem;
    width: 94%;
}

.c__panel--black-60 {
    background-color: rgba(0, 0, 0, 0.6);
}

.c__panel {
    padding: 2rem;
}

/* HAMBURGER MENU  */
.hamburger-menu {
    position: relative;
    width: 30px;
    height: 30px;
}

.hamburger,
.hamburger--arrow-down {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 2;
}

.hamburger--arrow-down {
    opacity: 0;
}

.static-menu-main:hover > .hamburger-menu .hamburger {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.static-menu-main:hover > .hamburger-menu .hamburger--arrow-down {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.static-menu-main:hover > .static-menu-hidden {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 1s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 1;
    z-index: 10;
}

.static-menu-hidden {
    position: absolute;
    top: 45px;
    left: 0;
    right: -50px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 1s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
    background-color: #55b500;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
}

.static-menu-hidden__item {
    padding: 10px;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

.static-menu-hidden__item:hover {
    background: rgba(0, 0, 0, .15);
}

.static-menu-hidden__item a {
    font-weight: normal;
}

.close-modal-btn {
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    .section-header {
        display: none;
    }

    .hidden {
        display: none;
    }
}

@media screen and (max-width: 376px) {
    .section-slider {
        display: none;
    }

    .product_card-price_2 {
        font-size: 2rem;
    }

    .modal-block__title {
        font-size: 1rem;
    }

    .modal-block__phone {
        font-size: 1rem;
    }

    .payments {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/*modal*/
/*slaider modal*/
.modal.fade .owl-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    bottom: 0;
}

.modal.fade .owl-nav .owl-prev, .modal.fade .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 100px;
    line-height: 100px;
    width: 30px;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, .5);

}

.modal.fade .owl-nav .owl-prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.modal.fade .owl-nav .owl-prev:hover, .modal.fade .owl-dots .owl-dot:hover, .modal.fade .owl-nav .owl-next:hover {
    background-color: rgba(255, 255, 255, .8);
}

.modal.fade .owl-nav .owl-next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.modal.fade .owl-dots .owl-dot {
    background-color: rgba(255, 255, 255, .4);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.modal.fade .owl-dots .owl-dot.active {
    background-color: rgba(255, 255, 255, .8);
}

/*slaider modal/ */
@media (min-width: 1600px) {
    .modal-xl {
        max-width: 1500px;
    }
}

table.card-product__table {
    font-size: 1em;
}

.card-product__container {
    margin-top: 1em;
    padding: 1em;
    border: 6px solid #349200;
    border-radius: 0 1em 1em 0;
    background-color: rgba(255, 255, 255, .9);
}

.card-product__raiting {
    float: right;
    font-size: 80%;
    color: orange;
}

.card-product__price-container {
    font-size: 1.3em;
}

.card-product__price-container .card-product__price {
    color: red;
    font-size: 1.2em;
    font-weight: 700;
}

/*modal/ */

/* footer form*/
.footer-menu-block {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.form-wrapper {
    padding: 6px 0 6px 0;
    background-color: #D83D00;
    border-radius: 15px;
    width: 360px;
}

@media (max-width: 575.98px) {
    .form-wrapper {
        width: 340px;
    }
}

.form {
    background-image: linear-gradient(-48deg, #EFE6D2 50%, #FBF5E9 50%);
    border-radius: 15px;
    padding: 5px 30px 22px 30px;
}

.form__title {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: -3px;
    color: #000;
    font-weight: 600;
    padding: 15px 0 20px 0;
}

.form__phone {
    position: relative;
    margin-bottom: 12px;
}

.form__phone:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/icons/icon__phone.png") 50% 50% no-repeat;
    background-size: cover;
    top: 18px;
    left: 27px;
}

.form__phone input {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 5px 0 8px 38px;
    height: 56px;
    border: 1px solid #bbb;
    color: #B3B3B3;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(51, 51, 51, .4);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(51, 51, 51, .4);
    box-shadow: inset 1px 1px 2px 0px rgba(51, 51, 51, .4);
}

.form__phone input::-webkit-input-placeholder {
    color: #b3b3b3;
}

.form__phone input::-moz-placeholder {
    color: #b3b3b3;
}

.form__message {
    position: relative;
    border-radius: 5px;
    margin-bottom: 12px;
}

.form__message:before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    background: url("../img/icons/icon__message.png") 50% 50% no-repeat;
    background-size: cover;
    top: 12px;
    left: 27px;
}

.form__message textarea {
    display: block;
    margin: 0 auto;
    padding: 5px 0 8px 38px;
    font-size: 20px;
    width: 90%;
    height: 110px;
    border: 1px solid #bbb;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(51, 51, 51, .4);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(51, 51, 51, .4);
    box-shadow: inset 1px 1px 2px 0px rgba(51, 51, 51, .4);

}

.form__message textarea::-webkit-input-placeholder {
    color: #b3b3b3;
}

.form__message textarea::-moz-placeholder {
    color: #b3b3b3;
}

.btn-custom {
    position: relative;
    background-image: linear-gradient(0deg, #8B0122, #CF0419);
    color: #ffffff;
    height: 60px;
    width: 90%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-transform: none;
    font-size: 22px;
    font-weight: 400 !important;
    text-shadow: -2px -1px 0px #000000;
    border-bottom: 1px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px 0px #000000;
    box-shadow: 0 2px 5px -2px #000000;
}

.btn-custom:after {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    top: -100%;
    left: -25%;
    transform: rotate(-65deg);
    background: linear-gradient(
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.2) 70%,
            rgba(255, 255, 255, .3) 100%
    );
}