@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');


/*.fone_roboto{
  font-family: Roboto, sans-serif;
}*/
/*@font-face {
  font-family: "Phenomena";
  src: url("../font/Phenomena/Phenomena-ExtraBold.eot");
  src: url("../font/Phenomena/Phenomena-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../font/Phenomena/Phenomena-ExtraBold.woff") format("woff"), 
    url("../font/Phenomena/Phenomena-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}*/
/*.font-weight-800{
  font-weight: 800;
}*/

body {
  font-family: Roboto, serif;
}
textarea{
  resize: none;
}
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
}
section{
  overflow: hidden;
}
/* Fix bootstrap */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
.modal-xl {
  max-width: 1140px;
}
.carousel-control-prev,
.carousel-control-next{
  text-shadow: 2px 2px 2px black;
}
/* Reset */
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.border-radius-30{
  border-radius: 30px;
}
.border-radius-15{
  border-radius: 15px;
}
.text-size-1{
  font-size: 0.8em;
  line-height: normal;
}
.text-size-2{
  font-size: 0.9em;
  line-height: normal;
}
.text-size-4{
  font-size: 1.1em;
  line-height: normal;
}
.text-size-5{
  font-size: 1.2em;
  line-height: normal;
}
.text-size-6{
  font-size: 1.4em;
  line-height: normal;
}
.text-size-7{
  font-size: 1.7em;
  line-height: normal;
}
.text-red{
  color: red;
}
.c__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section_title{
  font-size: 3rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  .section_title{
    font-size: 2rem;
  }
}

/* btn */
.transition--slide {
  position: relative;
  overflow: hidden;
}
.transition--slide::before {
  margin-left: 60px;
  content: "";
  width: 30px;
  height: 300px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

/* Custom */
.text_orenge{
  color: #ffb600;
}
.text_green{
  color: #63a211;
}
.btn{
  white-space: normal;
}
/* btn_custom */
.btn_custom{
  background: #ffae00;
  text-shadow: 0 1px 0 rgba(0,0,0,.6);
  text-align: center;
  padding: 15px;
  border-radius: 40px;
  color: #fff;
  box-shadow: 0 4px 0 #e5680c, 0 25px 15px -10px rgba(162,76,13,.8);
  transition: all 0.3s;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 1rem);
  margin: 0.5rem auto 1rem;
  cursor: pointer;
}
.btn_custom:active{
  background: #dcab00;
  box-shadow: none;
  top: 4px;
}
.btn_custom:hover{
  color: #fff;
}

/* section-nav */
.section-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.section-nav:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60%;
  box-shadow: 0px 20px 25px 15px rgba(255, 255, 255,0.4);
  background-color: rgba(255, 255, 255,0.4);
}
.logo__img{
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: .5rem;
}

/* section-main */
.section-main{
  padding: 10rem 0;
  background: url(../assets/img/back/header-bg.jpg) no-repeat center top;
  background-size: content;
}
.main-wrap{
  position: relative;
}
.main-wrap__title{
  margin-top: 10%;
  margin-bottom: 6%;
  font-size: 3.2em;
  line-height: normal;
  transform: translate(-5%);
}
.main-wrap img{
  max-height: 30px;
}
.main-wrap:before{
  content: '';
  position: absolute;
  left: 0;
  transform: translate(-100%);
  height: 100%;
  width: 100%;
  background: url(../assets/img/back/header-text.png) no-repeat right center;
  background-size: contain;
}
.main-advantages__itemOne,
.main-advantages__itemThree{
  height: 220px;
  background-color: #7cb615;
  color: #fff;
}
.main-advantages__itemOne{
  border-radius: 0 200px 0 0;
}
.main-advantages__itemThree{
  border-radius: 200px 0 0 0;
}
.main-advantages__itemFour{
  position: relative;
  z-index: 1;
  height: 220px;
}
.main-advantages__itemFour::before{
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: #7cb615;
  border-radius: 0 0 200px 0;
  height: 100%;
  margin-left: calc(33.333333% - 15px);
  max-width: 33.333333%;
  width: 100%;
}
.main-advantages__btnWrap{
  border: 9px solid #64a111;
  border-radius: 50px;
  height: auto;
}
.main-advantages__btnWrap a.btn_custom{
  padding: 20px;
  font-size: 1.4em;
  font-weight: 600;
}
@media(max-width: 1600px){
  .main-wrap__title{
    margin-top: 12%;
    margin-bottom: 0%;
  }
}
@media(max-width: 1200px){
  .main-wrap__title{
    font-size: 2.5em;
  }
  .main-wrap__text{
    font-size: 0.8em;
  }
  .main-advantages__items img{
    max-width: 60px;
  }

  .main-advantages__item{
    font-size: 1em;
  }
}
@media(max-width: 992px){
  .main-wrap__title{
    margin-top: 17%;
    font-size: 2em;
  }
}
@media(max-width: 768px){
  .main-wrap:before{
    display: none;
  }
}

/* section-review */
.owl-carousel-review{
  overflow: hidden;
}
.owl-carousel-review .owl-nav .owl-prev,
.owl-carousel-review .owl-nav .owl-next{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5);
  color: #fa990e;
  border: 5px solid #fa990e;
  text-align: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel-review .owl-nav .owl-prev{
  left: 1rem;
  border-radius: 0 0 0 30px;
}
.owl-carousel-review .owl-nav .owl-next{
  right: 1rem;
  border-radius: 0 0 30px 0;
}
.owl-carousel-review .owl-nav .owl-prev:hover,
.owl-carousel-review .owl-nav .owl-next:hover{
  color: #a6cd5f;
}
