/*footer begin*/
.footer {
  background-color: #f1f1f1;
}
.foot-top {
  padding: 30px 0;
}
.foot-bottom {
  border-top: 1px solid #bfbfbf;
  padding: 15px 0;
  font-weight: 300;
}
.copyright {
  margin: 0;
  color: #787878;
}
.copyright .copy {
  color: #4f4f4f;
}
.footer .write-us {
  padding-top: 10px;
}
.footer p.write-us {
  margin: 0 0 10px;
}
.footer .write-us .glyphicon-envelope {
  color: #787878;
  top: 2px;
}
.nav-foot {}
.nav-foot > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  float: left;
}
.nav-foot > ul > li {
  margin-bottom: 10px;
}
.nav-foot > ul > li > a {
  color: #4f4f4f;
  text-decoration: none;
}
.nav-foot > ul > li > a:hover,
.nav-foot > ul > li > a:focus {
  color: #2d2d2d;
  text-decoration: underline;
}
.nav-foot .heading {
  font-size: 16px;
  font-weight: 500;
  color: #2d2d2d;
}
@media (min-width: 1050px) {
  .footer .contacts {
    float: right;
    min-width: 270px;
  }
}
@media (max-width: 717px) {
  .nav-foot {
    display: none;
  }
}
@media (max-width: 1049px) {
  .nav-foot > ul {
    margin-right: 0;
    padding-right: 20px;
    width: 25%;
  }
  .footer .contacts {
    clear: both;
    text-align: center;
  }
}
/*end footer*/