/*Всплывающие окна*/
@media (min-width: 718px) {
  .modal.fade .modal-dialog {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.modal-dialog {
  margin: 20px;
}
.modal-content {
  background-color: #ededed;
  border: 0;
  border-radius: 0;
}
.modal-content:before {
  content: "";
  display: block;
  /*width: 40px;
  height: 40px;
  background-color: #ededed;
  border-radius: 100%;
  position: absolute;
  top: -15px;
  right: -10px;*/
}
.modal-content:before,
.modal-content {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
          box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.modal-content-inner {
  position: relative;
  background-color: #ededed;
  padding: 15px;
}
/*Крестик*/
.modal-dialog .close {
  /*font-size: 41px;*/
  font-size: 0;
  font-weight: 100;
  line-height: 0.45;
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}
.modal-content:before,
.modal-dialog .close,
.modal-dialog .close span {
  border-radius: 100%;
  position: absolute;
}
.modal-content:before,
.modal-dialog .close {
  width: 40px;
  height: 40px;
  background-color: #ededed;
  top: -15px;
  right: -10px;
}
.modal-dialog .close span {
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  /*background-color: #457506;*/
  background: #457506 url(../img/close.png) no-repeat center;
  z-index: 10;
}
/*Шапка*/
.modal-header {
  padding: 10px 15px;
  border-bottom: 0;
}
.modal-title {
  font-size: 24px;
  font-weight: 500;
  color: #2d2d2d;
}
/*Тело*/
.modal-body {
  padding: 10px 15px;
}
/*.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}*/
.modal-form {
  padding-right: 15px;
  padding-left: 15px;
}
.modal-form .form-group {
  margin-bottom: 10px;
}
.modal-form .form-control {
  height: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.modal-form textarea.form-control {
  height: auto;
}
.modal-form .btn {
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (max-width: 717px) {
  .modal-form .form-control {
    text-align: center;
  }
}
/*@media (min-width: 768px) {*/
@media (min-width: 718px) {
  .modal-dialog {
    width: 600px;
    /*margin: 30px auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .modal-sm {
    width: 350px;
  }
}
/*Получить скидку*/
.modal-discount {
  color: #fff;
  margin-top: 50px;
}
.modal-discount .modal-content:before,
.modal-discount .modal-content-inner,
.modal-discount .close,
.modal-discount .modal-content {
  background-color: #568f09;
}
.modal-discount .rubles {
  margin: -50px auto 0;
}
.modal-discount-title {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 10px;
}
.modal-discount-title .time {
  font-weight: 700;
  color: #ffd36b;
}
.modal-discount-title .price {
  color: #bcf471;
}
.modal-discount .timers {
  margin-bottom: 5px;
}
.modal-discount .timers-title {
  font-weight: 300;
}
.modal-discount .timer {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}
.modal-discount .timer-second {
  color: #ff9696;
}
.modal-discount .contacts {
  padding: 0;
  font-weight: 300;
}
.modal-discount .contacts .tel-info {
  font-size: 19px;
  color: #fff;
}
.modal-discount .contacts .phone {
  color: #fff;
  margin: 0;
}
.modal-discount .contacts .tel:before {
  background-image: url(../img/tel-white.png);
}
/*end modal*/