/** Main menu */
.nav-main .dropdown-toggle {
  padding: 16px;
}
.nav-main .dropdown-toggle {
  padding-left: 35px;
}
@media (min-width: 1050px) {
  .nav-main .dropdown-nav .dropdown-menu > li > a {
    padding: 16px;
  }
  .nav-main .dropdown-nav .dropdown-menu > li.sale > a {
    padding-left: 34px;
  }
}