.foot-top:before,
.foot-top:after,
.slider-home:before,
.slider-home:after {
  display: table;
  content: " ";
}
.foot-top:after,
.slider-home:after {
  clear: both;
}
/*clear both*/
.clear600:nth-child(2n+3) {
  clear: both;
}
@media (min-width: 718px) {
  .clear040:nth-child(3n+4) {
    clear: both;
  }
  .clear060:nth-child(2n+3) {
    clear: both;
  }
}
@media (min-width: 718px) and (max-width: 1049px) {
  .clear064:nth-child(2n+3) {
    clear: both;
  }
}
@media (min-width: 1050px) {
  .clear064:nth-child(3n+4) {
    clear: both;
  }
  .clear604:nth-child(3n+4) {
    clear: both;
  }
  .clear603:nth-child(4n+5) {
    clear: both;
  }
}
@media (max-width: 1049px) {
  .clear604:nth-child(2n+3) {
    clear: both;
  }
  .clear603:nth-child(2n+3) {
    clear: both;
  }
}
@media (max-width: 480px) {
  .col-none {
    width: auto;
    float: none;
    clear: none;
  }
}
/*for video*/
.swiper-slide-video-item:before,
.swiper-slide-video-item:after {
  content: "";
  display: block;
  position: absolute;
}
.swiper-slide-video-item:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(95,149,23,.55);
}
.swiper-slide-video-item:after {
  width: 48px;
  height: 48px;
  background: url(../img/play.png) no-repeat;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
}
.swiper-slide-video-item:hover:after {
  background-position: 0 -47px;
}
/*zoom*/
.loupe-item:before,
.loupe-item:after,
.gallery-loupe > li > a:before,
.gallery-loupe > li > a:after,
.swiper-container-loupe .swiper-slide:before,
.swiper-container-loupe .swiper-slide:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
}
.loupe-item-hover:before,
.loupe-item-hover:after,
.gallery-loupe-hover > li > a:before,
.gallery-loupe-hover > li > a:after,
.swiper-container-loupe-hover .swiper-slide:before,
.swiper-container-loupe-hover .swiper-slide:after {
  display: none;
}
.loupe-item-hover:hover:before,
.loupe-item-hover:hover:after,
.gallery-loupe-hover > li > a:hover:before,
.gallery-loupe-hover > li > a:hover:after,
.swiper-container-loupe-hover .swiper-slide:hover:before,
.swiper-container-loupe-hover .swiper-slide:hover:after {
  display: block;
}
.loupe-item:before,
.gallery-loupe > li > a:before,
.swiper-container-loupe .swiper-slide:before {
  width: 88px;
  height: 88px;
  top: 50%;
  left: 50%;
  margin: -44px 0 0 -44px;
  background-color: rgba(0,0,0,.5);
  border-radius: 100%;
}
.loupe-item:after,
.gallery-loupe > li > a:after,
.swiper-container-loupe .swiper-slide:after {
  width: 40px;
  height: 39px;
  background: url(../img/loupe.png) no-repeat;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.gallery-loupe-sm > li > a:before {
  width: 56px;
  height: 56px;
  margin: -28px 0 0 -28px;
}
.gallery-loupe-sm > li > a:after {
  width: 30px;
  height: 29px;
  background-size: 30px auto;
}
.loupe-item:hover:after,
.gallery-loupe > li > a:hover:after,
.swiper-container-loupe .swiper-slide:hover:after {
  background-position: 0 -39px;
}
.gallery-loupe-sm > li > a:hover:after {
  background-position: 0 -29px;
}
/*end utility*/