@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Thin.eot");
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Thin.woff") format("woff"), 
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Light.eot");
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Light.woff") format("woff"), 
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Regular.eot");
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Regular.woff") format("woff"), 
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Medium.eot");
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Medium.woff") format("woff"), 
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Bold.eot");
  src: url("../font/PFDinTextCompPro/PFDinTextCompPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Bold.woff") format("woff"), 
    url("../font/PFDinTextCompPro/PFDinTextCompPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

body {
  font-family: "PFDinTextCompPro", serif;
  font-size: 24px;
  color: #000;
}
textarea{
  resize: none;
}
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
}
section{
  overflow: hidden;
}
/* Fix bootstrap */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
.modal-xl {
  max-width: 1140px;
}
.carousel-control-prev,
.carousel-control-next{
  text-shadow: 2px 2px 2px black;
}
/* Reset */
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.text-size-1{
  font-size: 0.8em;
  line-height: 0.8em;
}
.text-size-2{
  font-size: 0.9em;
  line-height: 0.9em;
}
.text-size-4{
  font-size: 1.1em;
  line-height: 1.1em;
}
.text-size-5{
  font-size: 1.2em;
  line-height: 1.2em;
}
.text-size-6{
  font-size: 1.4em;
  line-height: 1.4em;
}
.text-size-7{
  font-size: 1.7em;
  line-height: 1.7em;
}
@media (max-width: 768px){
  .text-size-7{
    font-size: 1.4em;
    line-height: 1.4em;
  }
}
.text-red{
  color: red;
}
.text-black{
  color: #000;
}
.bg_darkBlue {
  background: #25394A;
}
.box__shadow{
  box-shadow: 1px 5px 10px #26294C;
}
.section_title{
  font-size: 3em;
  font-weight: 800;
}
@media (max-width: 768px) {
  .section_title{
    font-size: 2em;
  }
}
.bg_section_title {
  background: rgb(93,159,219);
  background: linear-gradient(90deg, rgba(93,159,219,1) 0%, rgba(154,204,241,1) 100%);
  border-radius: 10px 10px 20px 20px;
  box-shadow: 0px 25px 15px -15px #26294C;
  display: inline-block;
  width: 60%;
}
@media (max-width: 768px) {
  .bg_section_title{
    width: 100%;
  }
}

/* btn */
.transition--slide {
  position: relative;
  overflow: hidden;
}
.transition--slide::before {
  margin-left: 60px;
  content: "";
  width: 30px;
  height: 300px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform: rotate(45deg);
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

/* Custom */
/* section-nav */
.section-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.nav-nav{
  background: rgb(93,159,219);
  background: linear-gradient(90deg, rgba(93,159,219,1) 0%, rgba(154,204,241,1) 100%);
  border-radius: 10px 10px 20px 20px;
  box-shadow: 0px 25px 15px -15px #26294C;
}
.nav-nav__item{
  color: #000;
  font-weight: 700;
  font-size: 1.2em;
  transition: color 0.3s;
  text-align: center;
}
.nav-nav__item:hover{
  color: #000;
}
.logo__text{
  line-height: 1;
  color: #fff;
}
.logo__img{
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: .5rem;
  max-width: 100px;
}
.nav-nav__job{
  position: relative;
  padding-left: 1.5rem;
  margin: 0;
}
.nav-nav__job:before{
  content: '';
  position: absolute;
  left: 5px;
  top: calc(50% - 5px);
  height: 10px;
  width: 10px;
  background-color: #94DB8B;
  border-radius: 50%;
}
@media(max-width: 768px){
  .nav-nav__item{
    font-size: 1em;
    padding: 0rem 0.5rem;
    margin: 0.25rem 0;
  }
}

/* section-main */
.section-main {
  background: url(../../public/assets/img/back/bg_mine.png) no-repeat center center;
  background-size: cover;
  padding: 10rem 0 6rem;
}
.main-textWrap{
  z-index: 1;
  position: absolute;
}
.main-discount{
  font-size: 4em;
}
@media(max-width: 1200px){
  .section-main{
    padding-top: 15rem;
  }
}
@media(max-width: 960px){
  .main-textWrap{
    position: static;
  }
}
@media(max-width: 768px){
  .section-main{
    padding-top: 5rem;
  }
}

/* section-stock */
.section-stock{
  background-color: #84A882;
}
.stock-title{
  font-size: 4em;
  background-color: #98BF93;
  color: #fff;
  margin-bottom: -15px;
}
.calculator-left{
  background-color: #76B2E6;
  border-radius: 15px;
  transform: translate(1rem, -5px);
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 5px #666;
}
.calculator-right{
  transform: scaleY(0.98);
  box-shadow: 0 5px 5px #ccc;
  border-radius: 3px;
  overflow: hidden;
}
.castom_input .c__input input {
  display: none;
}
.castom_input .c__input input:checked + label {
  color: #000;
  background: #FFD000;
}
.castom_input .c__input label {
  padding: 0.2rem 1rem;
  font-weight: 700;
  text-align: center;
  border-radius: 10px 10px 15px 15px;
  color: #000;
  background: #F2F5F8;
  cursor: pointer;
  margin: 0.2rem;
}
.castom_input .c__input label:hover {
  background: #d1dce6;
}
.catalog__label {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.5rem;
  transform: translate(-10%,-50%);
}
.calculator-left__form a{
  border-radius: 10px 10px 20px 20px;
  background-color: #FDF320;
  box-shadow: 0px 20px 15px -10px #E49C47;
}
.stock-tablet{
  background: rgb(93,159,219);
  background: linear-gradient(90deg, rgba(93,159,219,1) 0%, rgb(203, 230, 250) 100%);
  border-radius: 10px 10px 20px 20px;
}
.stock-tablet div{
  width: 100%;
}
.stock__predstavleniye{
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 1rem;
  color: red;
  display: flex;
  justify-content: space-around;
}
.stock__rotate-90,
.stock__rotate90{
  position: absolute;
  top: 0;
  width: 100vh;
}
.stock__rotate-90{
  left: 0%;
  transform: rotate(-90deg) translate(-50%, -25vw);
}
.stock__rotate90{
  right: 0%;
  transform: rotate(90deg) translate(50%, -25vw);
}
@media(max-width: 1200px){
  .calculator-left{
    transform: translate(0rem, 0px);
  }
  .calculator-right{
    transform: scaleY(1);
  }
  .stock__rotate-90{
    transform: rotate(-90deg) translate(-50%, -40vw);
  }
  .stock__rotate90{
    transform: rotate(90deg) translate(50%, -40vw);
  }
}
@media (max-width: 768px){
  .stock-title{
    font-size: 3rem;
  }
}

/* section-howWork */
.section-howWork{
  background-color: #84A882;
}

/* section-catalog */
.section-catalog{
  background-color: #84A882;
}
.section-catalog__cart{
  background: rgb(93,159,219);
  background: linear-gradient(45deg, #9BCDF2 0%, #5C9EDB 100%);
  padding: 1rem;
  box-shadow: 0 2px 10px 2px #555;
  border-radius: 30px;
}
.btn-catalog{
  border-radius: 10px 10px 20px 20px;
  width: 80%;
}
.btn-catalog__red{
  background: #F55144;
  background: linear-gradient(0deg, #FF0B03 0%, #F55144 50%, #FF0B03 100%);
}
.btn-catalog__yellow{
  background: #FEEE13;
  background: linear-gradient(0deg, #F6F54D 0%, #FEEE13 100%);
}

/* section-additional, section-certificate*/
.section-additional,
.section-certificate{
  background-color: #84A882;
}

/* section-reviews */
.section-reviews{
  background-color: #84A882;
}
.section-reviews img{
  min-width: 250px;
  max-width: 500px;
}
.btn-reviews{
  border-radius: 10px 10px 20px 20px;
  background-color: #8CD584;
  white-space: normal;
}

/* section-contacts */
.section-contacts{
  background: url(../../public/assets/img/back/bg_mine.png) no-repeat center center;
  background-size: cover;
}
.contacts_title{
  color: #7BB5E6;
  font-size: 5rem;
}
@media (max-width: 768px) {
  .contacts_title {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .contacts_title {
    font-size: 2rem;
  }
}

/* modal-reviews */
.modal-reviews input::-webkit-input-placeholder, .modal-reviews textarea::-webkit-input-placeholder{
  color: #000;
  font-size: 0.8em;
}
.modal-reviews input::-moz-placeholder, .modal-reviews textarea::-moz-placeholder{
  color: #000;
  font-size: 0.8em;
}
.modal-reviews input:-ms-input-placeholder, .modal-reviews textarea:-ms-input-placeholder{
  color: #000;
  font-size: 0.8em;
}
.modal-reviews input::-ms-input-placeholder, .modal-reviews textarea::-ms-input-placeholder{
  color: #000;
  font-size: 0.8em;
}
.modal-reviews input::placeholder,
.modal-reviews textarea::placeholder{
  color: #000;
  font-size: 0.8em;
}

/* modal-product */
.modal-product .modal-body,
.modal-product .modal-content{
  border-radius: 31px;
}
.bg_whiteBlue{
  background: rgb(93,159,219);
  background: linear-gradient(45deg, #9BCDF2 0%, #5C9EDB 100%);
}
.modal-product__info{
  padding: 8px;
  background-color: #233D56;
  border-radius: 10px;
}
.lst_disc li{
  position: relative;
  padding-left: 2rem;
}
.lst_disc li:before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 1rem;
  top: calc(50% - 5px);
  border-radius: 50%;
  background-color: #fff;
}


