.section-certificates {
  padding: 72px 0;

  &__description {
    font-size: 24px;
    text-align: center;
  }

  &__list {
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    padding-left: 0;

    &::before {
      content: '';
      width: 180px;
      height: 5px;
      background: #567b5f;
      display: block;
      margin-bottom: 20px;
    }

    li {
      position: relative;
      padding-left: 36px;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: FontAwesome;
        content: '\f05d';
        font-weight: 100;
        font-size: 32px;
        color: rgba(244, 67, 54, 0.8);
        margin-right: 8px;
        margin-top: -7px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .section-certificates__description {
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .section-certificates__list:before {
    height: 3px;
  }
}
