.section-banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    z-index: 1;
  }

  &__content {
    background: rgba(62, 88, 69, 0.4);
    padding: 30px;
    border-radius: 20px;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .section-banner .container {
    background: rgba(62, 88, 69, 0.4);
    height: 100%;
    display: flex;
    align-items: center;
  }

  .section-banner__content {
    background: transparent;
  }

  .section-banner__title {
    font-size: 24px;
    text-align: center;
  }

  .section-banner__subtitle {
    font-size: 18px;
    text-align: center;
  }

  .section-banner__content .btn-video {
    display: none;
  }
}
