.section-present {
  background: no-repeat center;
  background-size: cover;
  position: relative;

  &__overlay {
    background-color: rgba(86,123,95,0.9);
    padding: 72px 0;
  }

  &__list {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    list-style-type: none;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      font-family: FontAwesome;
      content: '\f05d';
      font-weight: 100;
      font-size: 32px;
      color: rgba(244, 67, 54, 0.8);
      margin-right: 8px;
      margin-top: -4px;
    }
  }
}
