/*Карточка товара*/
.prod-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  padding: 15px;
  z-index: 10;
}
.prod-card-mini {
  padding: 15px;
}
.prod-card:hover {
  border-color: #568f09;
  z-index: 20;
}
@media (min-width: 718px) {
  .prod-card {
    padding: 25px 35px 20px;
  }
}

@media (min-width: 370px) and (max-width: 480px) {
  .prod-card {
    width: 320px;
    margin: 0 auto 15px;
  }
}

.prod-card:before {
  content: "";
  display: block;
  width: 94px;
  height: 88px;
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
}
.prod-card.discount:before {
  background-image: url(../img/discount.png);
}
.prod-card.action:before {
  background-image: url(../img/action.png);
}
.prod-card-image {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

/* product card */
.hit-byes {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 100;
}
.prod-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 190px;
}
.prod-card-image-a {
  position: relative;
}
.prod-card-img {
  max-width: 250px;
  max-height: 190px;
}
.prod-card-title {
  font-weight: 500;
  font-size: 15px;
  color: #8e8e8e;
}

/*Название товара*/
.prod-card-name {
  font-weight: 400;
  font-size: 21px;
  margin: 0;
}
.prod-card-mini .prod-card-name > a {
  color: #2d2d2d;
}
.prod-card-mini .prod-card-name > a:hover,
.prod-card-mini .prod-card-name > a:focus {
  color: #568f09;
}
/*Дополнительно к названию товара*/
.prod-card-help-block {
  font-size: 13px;
  color: #7a7373;
}
/*Описание*/
.prod-card-desc {}
.prod-card-desc p {
  margin-bottom: 10px;
}
/*Характеристики*/
.prod-card-characteristics {
  list-style: none;
  padding: 0;
  margin: 10px 0 5px;
  font-size: 13px;
}
.prod-card-characteristics > li {
  display: table-row;
  padding: 1px;
  /*overflow: hidden;*/
}
.prod-card-characteristics > li > .key,
.prod-card-characteristics > li > .val {
  display: table-cell;
  vertical-align: top;
}
.prod-card-characteristics > li > .key {
  width: 100px;
}
/*Характеристики (список)*/
.prod-card-characteristics-list {
  padding-left: 17px;
}
.prod-card-characteristics-list li:before {
  margin-left: -15px;
}
/*Цена*/
.prod-card-price {
  font-size: 18px;
  line-height: 1.3333333;
  font-weight: bold;
  color: #da0000;
  margin: 10px 0;
}
.prod-card-mini .prod-card-price {
  margin-top: 10px;
}
.prod-card-price-old,
.prod-card-price-new {
  font-weight: 500;
}
.prod-card-price-old {
  font-size: 18px;
  text-decoration: line-through;
  color: #2d2d2d;
}
.prod-card-price-new {
  font-size: 21px;
  color: #da0000;
}
/*Нашли дешевле?*/
.prod-card-price-new,
.prod-card .found-cheaper {
  display: inline-block;
  vertical-align: middle;
}
.prod-card-price-new {
  margin-right: 5px;
}
.prod-card .found-cheaper {
  font-size: 14px;
  font-weight: 300;
  position: relative;
}
/*Стикеры*/
.prod-card-sticker {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
}
.prod-card-sticker .sticker {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: -12px;
}
.prod-card-sticker .sticker.pull-right {
  margin-right: 5px;
}
.prod-card-sticker .sticker.pull-left {
  margin-left: 5px;
}
.prod-card-sticker .sticker-strength {
  background-image: url(../img/hammer.png);
}
.prod-card-sticker .sticker-show {
  background-image: url(../img/snowflake.png);
}
.prod-card-col {
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .prod-card-col {
    width: auto;
    float: none;
    clear: none;
  }
}
/*@media (min-width: 718px) {*/
@media (min-width: 371px) {
  .prod-card-col {
    height: 480px;
  }
  .prod-card {
    min-height: 480px;
    height: 480px;
    overflow: hidden;
  }
  .prod-card:hover {
    height: auto;
  }
  .prod-card:after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 -50px 50px -25px #fff, inset 0 -50px 50px -25px #fff, inset 0 -50px 50px -25px #fff;
  }
  .prod-card:hover:after {
    display: none;
  }
}
/*end prod-card*/