@import "https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,100,100italic,300,300italic";@import "bootstrap-custom.css";@import "custom.css";@import "header.css";@import "footer.css";@import "nav-main.css";@import "prod-card.css";@import "reviews.css";@import "modal.css";@import "advantages-byfive.css";@import "order-greenhouse.css";@import "utility.css";.advantages{background-color:#eee;overflow:hidden}.sidebar .advantages{margin-bottom:10px}.advantage-col{font-size:13px;position:relative;padding-left:65px;min-height:64px}.advantage-col:before{content:"";display:block;width:65px;height:60px;background-repeat:no-repeat;background-position:center;position:absolute;top:2px;left:0}.advantage-col-strength:before{background-image:url(../img/advantages/hammer.png)}.advantage-col-production:before{background-image:url(../img/advantages/gears.png)}.advantage-col-guarantee:before{background-image:url(../img/advantages/ok.png)}.advantage-col-delivery:before{background-image:url(../img/advantages/truck.png)}.advantages-small .advantage-col-strength:before{background-size:auto 28px}.advantages-small .advantage-col-production:before{background-size:auto 42px}.advantages-small .advantage-col-guarantee:before{background-size:auto 34px}.advantages-small .advantage-col-delivery:before{background-size:auto 25px}.advantage-title{font-size:18px;font-weight:500;color:#2d2d2d}.advantages-horizontal{padding:15px 5px}.advantages-horizontal .advantage-col{float:left;width:50%}@media (min-width: 718px){.advantages-horizontal .advantage-col-delivery:before{background-position:0 center}}@media (min-width: 1050px){.advantages-horizontal .advantage-col{width:25%}}@media (max-width: 517px){.advantages-horizontal .advantage-col{float:none;width:auto}}.advantages-vertical{padding:10px 5px}.advantages-vertical .advantage-col{margin-bottom:10px}.advantages-vertical .advantage-col:before{background-position:center 5px}.banner-item{position:relative;display:block}.banner-item-img{margin:auto}.banner-item-content{position:absolute;top:0;right:0;bottom:0;left:0;padding:10px;text-align:center;font-size:18px;color:#385473}.banner-item-title{font-size:24px;line-height:1;font-weight:700;text-transform:uppercase;margin-top:20px}.banner-item-full-construction .banner-item-content{color:#376976}.banner-item-full-construction .banner-item-title{font-size:21px}.sidebar .banner-item{margin-bottom:10px}@media (min-width: 1050px){.sidebar .banner-item-content{font-size:16px}.sidebar .banner-item-title{margin-top:10px}.sidebar .banner-item-full-construction .banner-item-title{font-size:16px}}@media (max-width: 1049px){.banner-item{float:left;width:50%}}@media (max-width: 560px){.banner-item{float:none;width:auto}}.slider-home{margin-bottom:15px}@media (min-width: 1050px){.slider-home .slider,.slider-home .banners{float:left}.slider-home .slider{width:665px}}@media (max-width: 717px){.slider-home .banners{display:none}}.retain-request{background:#5d9409 url(../img/rrbg.png) no-repeat right top;padding:20px 30px;margin-bottom:15px}.retain-request-info{font-size:13px;color:#cde0aa}.retain-request-title{font-size:30px;line-height:1.1;font-weight:500;color:#fff}.retain-request .btn{padding:8px 12px;margin-top:10px}@media (min-width: 718px){.retain-request-info{float:left}.retain-request .btn{float:right}}@media (min-width: 1050px){.retain-request .btn{min-width:240px}}@media (max-width: 717px){.retain-request{background-size:auto 100%;text-align:center}}.ask-question{border:1px solid #d6cece;padding:10px 15px;margin-bottom:10px;text-align:center;font-size:12px;font-weight:300;color:#7a7373}.ask-question:hover{border-color:#568f09}.ask-question-title{font-size:15px;font-weight:500;margin-bottom:5px;color:#4f4f4f}.ask-question .btn{font-size:16px;line-height:1.3333333;padding-top:5px;padding-bottom:5px;margin-top:10px}.ask-question:hover .btn{background-color:#457208}.swiper-gallery{margin-bottom:30px}.pagination{display:block;padding:15px 0;margin:0;border-top:1px dashed #ddd;overflow:hidden}.pagination > li > a,.pagination > li > span{padding:2px 6px;margin-left:0;font-size:15px;color:#568f09;background-color:transparent;border:0}.pagination > li > a{text-decoration:underline}.pagination > li:first-child > a,.pagination > li:first-child > span,.pagination > li:last-child > a,.pagination > li:last-child > span{padding-right:18px;padding-left:18px}.pagination > li:first-child > a .glyphicon,.pagination > li:first-child > span .glyphicon,.pagination > li:last-child > a .glyphicon,.pagination > li:last-child > span .glyphicon{font-size:12px;position:absolute;top:6px}.pagination > li:first-child > a .glyphicon,.pagination > li:first-child > span .glyphicon{left:0}.pagination > li:last-child > a .glyphicon,.pagination > li:last-child > span .glyphicon{right:0}.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus{color:#365708;background-color:transparent}.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus{color:#383838;background-color:transparent;font-weight:900}.pagination > .disabled > span,.pagination > .disabled > span:hover,.pagination > .disabled > span:focus,.pagination > .disabled > a,.pagination > .disabled > a:hover,.pagination > .disabled > a:focus{color:#7a7373;background-color:transparent}.product{padding-bottom:20px}.product-detail{padding-bottom:20px}@media (min-width: 1050px){.col-tabs-product{width:72%;padding-right:30px}.col-banners-product{width:28%;padding-left:0}}.product-header{margin-bottom:10px}.product-title{margin:0}.product-desc{font-size:16px}@media (min-width: 1050px){.product-box-right{width:46%}.product-box-left{width:50%}}@media (max-width: 1049px){.product-box-right,.product-box-left{float:none !important}}.product-image{position:relative}.product-sticker{position:absolute;top:0;right:0;left:0;z-index:10}.product-sticker .sticker{width:110px;height:110px;background-repeat:no-repeat;margin-bottom:10px;margin-top:-15px;margin-right:5px}.product-sticker-vertical .sticker{margin-top:0;margin-right:0}.product-sticker-vertical .sticker.pull-left,.product-sticker-vertical .sticker.pull-right{clear:both}.product-sticker .sticker.pull-left:first-child,.product-sticker-vertical .sticker.pull-left{margin-left:-20px}.product-sticker .sticker.pull-right:first-child,.product-sticker-vertical .sticker.pull-right{margin-right:-20px;margin-left:auto}@media (max-width: 1049px){.product-sticker .sticker.pull-left:first-child,.product-sticker-vertical .sticker.pull-left{margin-left:-10px}.product-sticker .sticker.pull-right:first-child,.product-sticker-vertical .sticker.pull-right{margin-right:-10px}}.product-sticker .sticker-guarantee{background-image:url(../img/guarantee.png)}.product-sticker .sticker-delivery{background-image:url(../img/delivery.png)}.product-sticker .sticker.pull-right{background-position:right top}.product-price,.product-btns,.product-buy{display:inline-block;vertical-align:middle}.product-info{margin-bottom:10px}.product-price{line-height:1.33333333;margin-right:15px}.product-price-old{font-size:18px;text-decoration:line-through;font-weight:600}.product-price-new{font-size:29px;font-weight:900;color:#da0000}.product-buy .btn{margin:10px 15px 5px 0}.product-buy .btn:last-child{margin-right:0}.product-info .btn-buy{padding-top:8px;padding-bottom:8px;margin-right:10px}.product-info .btn-oneclick{background-image:url(../img/clock.png)}.product-info .btn-cheaper{background-image:url(../img/cheaper.png)}.product-info .btn-oneclick,.product-info .btn-cheaper{background-position:2px center;background-repeat:no-repeat;padding:4px 10px 4px 24px;text-decoration:none}.product-info .btn-cheaper{margin-left:24px}.product-options-list{list-style:none;padding:0;margin-bottom:10px}.product-option-item-title,.product-option-item .btns{display:inline-block;vertical-align:middle}.product-option-item-title{margin-bottom:5px;padding-right:10px;color:#383838}.product-option-item .btns .btn{float:left;margin-right:4px;margin-bottom:5px;padding:4px 8px;text-align:left;min-width:50px}.product-option-item .btns .btn:active,.product-option-item .btns .btn.active{border-color:#568f09;-webkit-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, .225);box-shadow:inset 0 0 0 1px rgba(0, 0, 0, .225)}.product-option-item .btns .btn:active:hover,.product-option-item .btns .btn.active:hover,.product-option-item .btns .btn:active:focus,.product-option-item .btns .btn.active:focus,.product-option-item .btns .btn:active.focus,.product-option-item .btns .btn.active.focus{color:#fff;background-color:#568f09}.product-options-add-list{list-style:none;padding:0}.product-option-add-item{margin:0;padding:5px 0}.product-option-add-item .checkbox,.product-option-add-item .price,.product-option-add-item .number{padding:0}@media (max-width: 420px){.product-option-add-item .checkbox,.product-option-add-item .price,.product-option-add-item .number{float:none;width:auto}}.product-option-add-item .checkbox{margin:0}.product-option-add-item .price{font-weight:500;font-size:16px;line-height:1.33333333}.product-option-add-item .number{text-align:right}@media (max-width: 420px){.product-option-add-item .number{text-align:left;padding:5px 0 10px}}.number-nav{display:inline-block;position:relative;padding:0 28px}.number-nav .minus,.number-nav .plus{position:absolute;width:20px;height:20px;background-color:#ababab;color:#fff;border-radius:100%;top:0;cursor:pointer;text-align:center;font-weight:700;font-size:22px;line-height:20px}.number-nav .minus:hover,.number-nav .minus:focus,.number-nav .plus:hover{background-color:#568f09}.number-nav .minus{left:0}.number-nav .plus{right:0}.number-val{white-space:nowrap;color:#2d2d2d}.product-option-add-item .tooltip{border:1px solid #ccc;padding:0;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, .775);box-shadow:0 0 10px rgba(0, 0, 0, .775)}.product-option-add-item .tooltip-inner{text-align:left;width:350px;max-width:350px;background-color:#fff}.product-option-add-item .tooltip-arrow{display:none}.product-options-table{margin-bottom:10px;border-bottom:1px dashed #ddd}.product-options-table > thead > tr > th,.product-options-table > tbody > tr > th,.product-options-table > tfoot > tr > th,.product-options-table > thead > tr > td,.product-options-table > tbody > tr > td,.product-options-table > tfoot > tr > td{padding:2px;vertical-align:middle;border-top:1px dashed #ddd !important;text-align:center;font-size:15px}.product-options-table > thead > tr > th,.product-options-table > thead > tr > td{padding:5px 2px;position:relative;font-weight:500}.product-options-table > thead > tr > th:not(:last-child):before,.product-options-table > thead > tr > td:not(:last-child):before,.product-options-table > thead > tr > th:not(:last-child):after,.product-options-table > thead > tr > td:not(:last-child):after{content:"";display:block;height:4px;background-color:#fff;position:absolute;right:-2px;left:0}.product-options-table > thead > tr > th:before,.product-options-table > thead > tr > td:before{top:0}.product-options-table > thead > tr > th:after,.product-options-table > thead > tr > td:after{bottom:0}.product-options-table > thead > tr > th:not(:last-child),.product-options-table > thead > tr > td:not(:last-child){border-right:1px solid #ddd}.product-options-table .btn{padding-top:4px;padding-bottom:4px}.product-options-table .btn input[type="radio"],.product-options-table .btn input[type="checkbox"]{position:absolute;clip:rect(0, 0, 0, 0);pointer-events:none}.banner-prod-item{position:relative;display:inline-block;vertical-align:top;margin-right:8px;margin-bottom:10px}.banner-prod-item-img{margin:auto}@media (min-width: 1050px){.banner-prod-item{display:block;margin-right:0}}@media (max-width: 1049px){.banners-product{text-align:center}}.dropdown-menu-price-list{left:-10px;padding:5px 20px;margin:15px 0 0;font-size:15px;background-color:#707070;border:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}.dropdown-menu-price-list:before{content:"";display:block;position:absolute;top:-27px;left:10px;border:15px solid transparent;border-bottom-color:#707070}.dropdown-menu-price-list > li{border-bottom:1px solid #91b264;overflow:hidden;padding:7px 0;color:#fff;white-space:nowrap}.dropdown-menu-price-list > li:last-child{border-bottom:0}.dropdown-menu-price-list > li .val{line-height:1.5}.dropdown-menu-price-list > li .price{font-size:16px;font-weight:500}.nav-product.nav-tabs{border:0}.nav-product.nav-tabs > li{margin-bottom:0;float:none}@media (min-width: 718px){.nav-product.nav-tabs{border-bottom:1px solid #2d2d2d}.nav-product.nav-tabs > li{float:left}}.nav-product.nav-tabs > li > a{margin-right:0;border:1px solid #c2c2c2;border-radius:2px;margin-bottom:5px;text-decoration:none;text-align:center;color:#555;background-color:#f4f4f4;padding:10px 5px}@media (min-width: 718px){.nav-product.nav-tabs > li{vertical-align:top}.nav-product.nav-tabs > li > a{line-height:1.1;padding:5px;display:table-cell;vertical-align:middle;width:500px;height:42px}}.nav-product.nav-tabs > li > a:hover{border-color:#c2c2c2}.nav-product.nav-tabs > li.active > a,.nav-product.nav-tabs > li.active > a:hover,.nav-product.nav-tabs > li.active > a:focus{color:#fff;background-color:#568f09;border-color:#568f09}@media (min-width: 718px){.nav-product.nav-tabs > li > a{margin-bottom:0;margin-left:-1px;border-bottom:0;border-radius:2px 2px 0 0}.nav-product.nav-tabs > li:first-child > a{margin-left:0}.nav-product.nav-tabs > li.active > a,.nav-product.nav-tabs > li.active > a:hover,.nav-product.nav-tabs > li.active > a:focus{border-bottom:0}}@media (min-width: 718px){.nav-product.nav-justified > li{float:none;display:table-cell;width:1%}}.tabs-product > .tab-content{padding-top:15px}.tabs-product .tab-pane#description{padding-top:10px}.tabs-product .tab-pane#description > *:first-child{margin-top:0}.table-product-characteristics{font-weight:300}.table-product-characteristics > thead > tr > th,.table-product-characteristics > tbody > tr > th,.table-product-characteristics > tfoot > tr > th,.table-product-characteristics > thead > tr > td,.table-product-characteristics > tbody > tr > td,.table-product-characteristics > tfoot > tr > td{padding:8px 5px}.table-product-characteristics > tbody:first-child > tr:first-child > th,.table-product-characteristics > tbody:first-child > tr:first-child > td{border-top:0}.table-product-characteristics > tbody > tr > td:first-child + td{padding-left:0}.table-product-characteristics .okey{padding-right:15px;border-top:0;width:30px}@media (max-width: 717px){.table-product-characteristics .okey{display:none}}.table-product-characteristics .okey:before{content:"";display:block;width:22px;height:22px;background:url(../img/ok.png) no-repeat}.ask-question-form{margin-bottom:15px}.ask-question-form-title{font-size:21px;margin-bottom:15px}.ask-question-form textarea.form-control{height:83px}.ask-question-form .btn{min-width:140px}@media (min-width: 718px){.ask-question-form .btn{float:right}}.question-answer-list{list-style:none;padding:20px 0 0;border-top:1px solid #4f4f4f}.question-answer-list .panel{margin-bottom:10px;background-color:transparent;border:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}.question-answer-list .name{color:#2d2d2d}@media (min-width: 718px){.question-answer-list .name{float:right}}.question-answer-list .question > a{font-size:15px}.question-answer-list .collapse{position:relative}.question-answer-list .collapse.in{margin-bottom:20px}.question-answer-list .collapse:before{content:"";display:block;position:absolute;top:-28px;left:20px;border:15px solid transparent;border-bottom-color:#f1f1f1}.question-answer-list .answer{background-color:#f1f1f1;padding:10px 15px;margin:15px 0 0}.basket-item{margin-top:20px;padding-bottom:20px;border-bottom:1px dashed #ddd}.basket-item:first-child{margin-top:0}.basket-item .media-left{padding-right:20px}.basket-item .media-heading{margin-bottom:15px;color:#568f09}.basket-item-price-list{list-style:none;padding:0;font-size:16px}.basket-item-price-list > li{margin-bottom:5px}.basket-item-price-list > .total{color:#ef443c}.basket-item .btn-delete{font-weight:500;width:80px}@media (min-width: 718px){.basket-item .image{width:200px}.basket-item-price-list > .total{padding-right:90px}.basket-item .btn-delete{float:right;margin-top:-37px}}@media (min-width: 1050px){.basket-item .image{width:250px}}@media (max-width: 717px){.basket-item .media-left,.basket-item .media-right,.basket-item .media-body{display:block}.basket-item .media-left,.basket-item .media-right{padding:0}.basket-item .media-body{width:auto}.basket-item .image{margin-bottom:20px}}.basket-title{text-align:center;border-bottom:1px dashed #ddd;padding-bottom:20px}.basket-delivery{padding-bottom:20px}.basket-delivery-header .btn-group > .btn{padding-right:5px;padding-left:5px}@media (max-width: 717px){.basket-delivery-header .btn-group > .btn-group{display:block;width:auto}.basket-delivery-header .btn-group > .btn-group:not(:last-child){margin-bottom:5px}.basket-delivery-header .btn-group > .btn{float:none;border-radius:2px !important;font-size:18px;font-weight:500}}.basket-delivery-form{padding:15px 0 20px;text-align:center}.basket-delivery-form .control-label{font-weight:500;margin-right:10px;color:#383838}.basket-delivery-form .form-group{margin-bottom:10px}.basket-delivery-form .form-group:last-child{margin-right:0}.basket-delivery-form .form-control{width:180px !important;margin:auto}@media (min-width: 718px){.basket-delivery-form .form-group{display:inline-block;margin-bottom:5px;vertical-align:middle;margin-right:20px}.basket-delivery-form .form-control{display:inline-block;width:auto;vertical-align:middle}.basket-delivery-form .control-label{margin-bottom:0;vertical-align:middle}.basket-delivery-form .form-control-sm{width:90px !important}}@media (min-width: 1050px){.basket-delivery-header{width:55%;margin:auto}}.basket-total{background-color:#aee98f;border-radius:2px;padding:10px;font-size:16px;color:#2d2d2d;margin:auto;max-width:300px}.basket-total-table td{vertical-align:top;padding:2px 5px}.basket-total-table td b{color:#ef443c}.basket-form{margin:auto;text-align:center;padding:10px}.basket-form .control-label{font-size:16px;font-weight:500}.basket-form .btn-checkout{font-size:18px;font-weight:500;width:140px}.basket-form .bg-danger{padding:10px;border-radius:2px;margin-bottom:15px}@media (min-width: 718px){.basket-form{width:70%}}@media (min-width: 1050px){.basket-form{width:50%}}.success-order{text-align:center}.success-order-title{font-size:38px;margin-bottom:10px}.success-order-desc{font-size:18px;font-weight:300;margin-bottom:20px}.success-order .btn{font-size:16px;font-weight:300}@media (min-width: 718px){.success-order{width:500px;margin:auto}}@media (min-width: 1050px){.success-order{padding-top:50px;min-height:200px}.success-order-desc{padding:30px 0 20px}}.error-page{padding:20px 0 0}.error-page .row{position:relative}@media (min-width: 718px){.error-page .row:before{content:"";display:block;position:absolute;top:0;bottom:10px;left:50%;width:1px;background-color:#bcbcbc}}.error-page-img{margin:auto}.col-error-page-info .btn{width:150px;font-size:22px;font-weight:300;padding-top:8px;padding-bottom:8px}.error-page-desc{max-width:300px;font-size:16px;font-weight:300;color:#7a7373;padding-bottom:15px;margin-bottom:15px}@media (min-width: 718px){.col-error-page-info{padding-left:25px}}@media (min-width: 1050px){.error-page{padding-top:80px;min-height:450px}.col-error-page-info{padding-left:45px}}@media (max-width: 717px){.col-error-page-info{text-align:center;padding-top:20px}.error-page-desc{margin:auto}}.reviews-error-title{font-size:24px}.reviews-error-desc{font-size:18px;font-weight:300;margin-bottom:15px}.photogallery-list{list-style:none;padding:0;margin-right:-5px;margin-left:-5px}.photogallery-list > li{float:left;padding:5px}.photogallery-list > li > a{display:block;width:175px;height:130px;overflow:hidden;position:relative}.photogallery-list > li > a img{display:block;max-width:170px;max-height:130px;position:absolute;top:50%;left:50%;-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.reviews{background:#f4f4f4 url(../img/corner.gif) no-repeat right top;padding:20px 32px 25px}.reviews-title{font-size:30px;position:relative}.reviews-title:before{content:"";display:block;width:100%;height:1px;background-color:#636363;position:absolute;top:50%;left:0}.reviews-title > span{background-color:#f4f4f4;padding-right:15px;position:relative}@media (max-width: 717px){.reviews-title{text-align:center}.reviews-title > span{padding-left:15px}.review-list:before{display:none}}.review-item{padding:20px 0}@media (min-width: 718px){.reviews-grid > .review-item{padding-right:35px}.reviews-grid > .review-item:nth-child(2n){padding-right:0;padding-left:45px}}.reviews-page .review-item:first-child{padding-top:0}.tabs-product .review-item-header{margin-bottom:10px}.tabs-product .review-item-body > p{margin:0 0 10px}.tabs-product .review-item{padding:20px 0}.similar-product{padding-top:10px;padding-bottom:10px}.similar-product .section-title{font-size:45px;font-weight:500;text-align:center}.photogallery-list > li > a{display:block;width:170px;height:130px}.nav-top-fixed{background-color:#efefef;font-weight:300;padding-bottom:8px;padding-top:8px;position:fixed;width:100%;z-index:100;opacity: 0.9}.nav-top-container-fixed{text-align:center}.nav-top-fixed .phone{color:#568f09;font-size:20px;font-weight:bold;line-height:1.1;margin-bottom:5px}.nav-top-fixed .phone .tel::before{background:rgba(0, 0, 0, 0) url("../img/tel_green.png") no-repeat scroll 0 0;content:"";display:block;height:16px;left:-15px;position:absolute;top:5px;width:10px}.nav-top-fixed .phone .tel{position:relative}.product-info .btn-cheaper{text-decoration:none;background:url("../img/cheaper.png") no-repeat scroll left center;padding:0 0 0 24px;margin-left:0px}.card-info{border:1px solid #ddd;border-radius:2px;padding:8px;margin-bottom:20px;overflow:hidden}.card-info-img{border-radius:2px}.card-info-name{text-transform:uppercase;margin:15px 0 10px}.card-info-timer{display:inline-block;border-radius:2px;font-size:18px;color:#fff;text-transform:uppercase;padding:10px 16px}@media (min-width: 718px){.card-info-image{float:left;margin-right:15px}.card-info-img{max-width:370px;max-height:180px}} .product-options-table thead tr td:nth-child(3){color: #449d44;}
.characteristics img{width:140px;margin-bottom:10px}.characteristics .col-item{font-size:16px;padding-top:10px;margin-bottom:20px}.characteristics .col-item a{color:inherit}@media (min-width: 375px){.characteristics .col-item:nth-child(2n+1){clear:both}}@media (max-width: 374px){.characteristics .col-item{float:none;width:auto}}
#contacts.advantages{background-color:#f9f1de}#contacts .advantages-title{font-size:35px;margin:5px 0;font-weight:600;text-align:center;opacity:.9}#contacts .advantages-item{float:left;width:25%;padding:1px 0;margin-bottom:10px}#contacts .advantages-delivery::before{background-position:0 -80px}#contacts .advantages-control::before{background-position:-80px -80px}#contacts .advantages-storage::before{background-position:-160px -80px}#contacts .advantages-collectors::before{background-position:-240px -80px}#contacts .advantages-item::before{content:"";display:block;width:80px;height:80px;background-repeat:no-repeat;background-image:url(/templates/krepko/img/advbyfive.png);margin:0 auto 5px}#contacts .advantages-item-title{font-size:23px;color:#4f4f4f;margin-bottom:5px;text-align:center;font-weight:500}#contacts .advantages-text{display:block;line-height:1.1;color:#7a7373;text-align:center;margin:0 auto}.roistat-promo-wrap {display:none}.btn-question {background-color: #568f09;color: #fff;border-color: #4cae4c;}.btn-question:active:hover, .btn-question:active:focus {color: #fff;background-color: #398439;border-color: #255625}.ask-question .btn:hover {color: #fff;}#contacts .advantages-item{text-align:center;font-family: "Roboto Medium";line-height: 1.1;font-size: 16px; color: #7a7373;}
.banner-item{
	margin-left: -10px;
	border-left: 10px solid #ffffff;
}
.banner-item:nth-child(2){
	border-top: 10px solid #ffffff;
	margin-top: -11.5px;
}
.shema_proezda{
	display: block;
	font-size: 20px;
	margin-top: 5px;
}
.photogallery-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	flex-wrap: wrap;
}
.photogallery-list .ban{
	flex-grow: 1;
	max-width: 50%;
}
.photogallery-list .ban h6{
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 18px;
}
.photogallery-list .ban ul{
	padding-left: 15px;
	list-style-type: disc;
}

.sborka p{
	font-size: 17px;
}
.sborka li{
	font-size: 16px;
}
.sborka table{
	border:  1px solid #045628;
background-color: #c8eeca; 
width: 100%; height: auto;
}
.sborka table td{
	padding-left: 15px;
	border:  1px solid #045628;
}
.sborka .stoimost{
	font-weight: bold;
	font-size: 20px;
}
.sborka .punkt{
	font-size: 16px;
}
.sborka.kart table td{
	border:none;
	border-bottom: 1px solid #000000;
}
.sborka.kart,
.sborka.kart table{
	background: none;
	border:none;
	
}
.sborka.kart table tr{
border-top: 1px solid #ddd;
}

.characteristics h3,
.characteristics p,
.characteristics ul,
.characteristics li{
	text-align: left;
	max-width: none;
	width: auto;
	font-size: 16px;
	margin-bottom: 0;

}
.complectation{
	text-align: left;
}
.characteristics h3{
	font-size: 20px;
	margin-bottom: 25px;
}
.characteristics p{
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
}
.complectation ul{
	list-style-position: outside;
	margin-bottom: 15px;
	margin-top: 15px;
}
.complectation ul li{
	list-style-image: url("https://ochenkrepko.ru/templates/krepko/img/ok.png");
}
.dosandsbor{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 100%;
	width: auto;
	justify-content: space-between;
	flex-wrap: nowrap;
	text-align: left;
	padding-bottom: 30px;

}
.dosandsbor .left{
	width: 50%;
	display: block;
	font-size: 14px;
	line-height: 17px;
}
.dosandsbor .right{
	width: 50%;
	display: block;
	padding-left: 20px;
	font-size: 14px;
	line-height: 17px;
}
.dosandsbor h3{
    display: block;
    font-size: 20px;
    color: #568f09;
    margin-bottom: 7px;
    text-align: left;

}
.dosandsbor table{
	border-color: #045628;
border-width: 1px;
margin-top: 5px;
margin-bottom: 10px;
width: 100%;
}
.dosandsbor table th{
	line-height: 32px;
	font-size: 16px;
}
.dosandsbor table td{
	line-height: 28px;
	font-size: 16px;
	padding-left: 6px;
	width: 50%;
	background-color: #c8eeca;
	border:  1px solid #045628;
}
.characteristics h3 {
    font-size: 27px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 500;
    padding-top: 30px;
    clear: both;
    border-top: 1px solid rgba(90,90,90, 0.3);
}
.product-price {
    margin-right: 9px;
}
/** Choose city bagin **/
.demo p {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
    color: #000;
    vertical-align: middle;
    margin-right: 7px;
}
.demo .drop-menu-main {
    padding: 4px;
    height: 20px;
    position: relative;
}
.demo ul {
    display: inline-block;
    vertical-align: middle;
}
.demo ul, .demo li {
    margin: 0;
}
.demo li {
    list-style: none;
    display: block;
}
.demo .drop-menu-main li {
    float: left;
    margin-right: 40px;
}
.demo .drop-down {
    cursor: pointer;
}
.demo .drop-down {
    padding-right: 0;
}
.demo .drop-menu-main a, .demo .drop-down, .demo .drop-menu-main-sub .title {
    text-decoration: none;
    color: #555555;
    padding: 0 10px 0 0;
}
.demo .drop-menu-main-sub {
    display: none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    z-index: 100;
    width: 150px;
    padding: 5px 0 5px;
    margin: -29px 0 0 -15px;
}
.demo .drop-menu-main-sub .title {
    display: block;
    padding: 6px 15px;
    cursor: pointer;
    border-bottom: 1px solid #DEDEDE;
}
.demo .drop-menu-main a, .demo .drop-down, .demo .drop-menu-main-sub .title {
    text-decoration: none;
    color: #555555;
}
.demo .drop-menu-main-sub a {
    color: #555555;
    display: block;
    font-size: 16px;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}
.header .drop-menu-main {
	border: none !important;
}
.demo .drop-menu-main-sub a:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}
/** Choose city end **/

/** Product card begin **/
.product-info .btn-persent {
    text-decoration: none;
    background: url("../img/persent.png") no-repeat scroll left center;
    padding: 0 0 0 24px;
    margin-left: 0px;
}
/** Product card end **/

/** Action block DESKTOP and MOBILE begin **/
#action_block_desktop {
	display: block;
}
#action_block_mobile {
	display: none;
}
@media (max-width: 1050px) {
	#action_block_desktop {
		display: none;
	}
	#action_block_mobile {
		display: block;
	}
}
@media (max-width: 470px) {
  .product-desc>p {
    font-size: 18px !important;
  }
}
@media (max-width: 380px) {
	.product-desc>p {
		font-size: 14px !important;
	}
}
#heading .heading__wrapper #action_block_desktop {
	max-width: 505px !important;
}
.container .product .pull-right .product-header .product-desc>p {
	padding: 3px !important;
}
/** Action block DESKTOP and MOBILE end **/

/** New product card begin **/
.product-info {
  padding: 5px;
  border: 2px dashed #449d44;
  border-radius: 8px;
}
.product-options-header {
  text-align: center;
}
.product-options-title {
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px dotted;
  margin-top: 0;
  margin-bottom: 10px;
}
.product-info .btn-size {
  text-decoration: none;
  background: url("../img/my-size.png") no-repeat scroll left center;
  padding: 0 0 0 24px;
  margin-left: 0px;
}
.product-info .btn-oneclick, .product-info .btn-cheaper {
  padding: 0px 0px 0px 24px;
}
.seo-text-block {
  margin: 10px 0 0 0;
  padding: 5px;
  border: 2px solid #ddd;
  border-radius: 10px;
}
.table.product-options-table td > .btn.btn-default {
	font-weight: 500;
	font-size: 13px;
}
/** New product card end **/

/** New video for youtube begin **/
.videoinstructions {
	flex: none;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
}
.colorbox-load-zgt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	color: #000;
}
.videoinstructions_owl_img {
	width: 100%;
	position: relative;
	height: 329px;
}
.videoinstructions_owl_button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	width: 84px;
	height: 60px;
	background-image: url(/images/youtube/youtube-play.png);
	background-repeat: no-repeat;
	background-size: 84px auto;
	opacity: 0.8;
}
.videoinstructions_owl_button:hover, .colorbox-load-zgt:hover {
	opacity: 1;
	background-position-y: -60px;
}
.colorbox-load-zgt:hover .videoinstructions_owl_button {
	opacity: 1;
	background-position-y: -60px;
}
.videoinstructions_owl_text {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #dadad6;
	opacity: 0.7;
}
.videoinstructions_owl_text {
	position: absolute;
	top: 120%;
	left: 0;
	z-index: 10;
}
.videoinstructions_owl_text p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
	padding: 0;
	height: 55px;
	color: #000;
	text-decoration: none;
	font-size: 2.3rem;
	font-weight: 500;
	margin: 0;
	padding: 0.5rem;
	text-decoration: none;
}
@media (max-width: 1049px) {
	.videoinstructions_owl_button {
    top: 35%;
  }
}
@media (max-width: 650px) {
	.videoinstructions_owl_button {
    top: 30%;
  }
}
@media (max-width: 585px) {
	.videoinstructions_owl_button {
		top: 25%;
	}
}
@media (max-width: 497px) {
	.videoinstructions_owl_button {
		top: 13%;
	}
}
/** New video for youtube end **/

/** Sklad and Seen begin **/
.product-sklad-seen {
	border: 1px solid #dda332;
	background-color: #feffd1;
	border-radius: 5px;
	padding: 3px;
	margin: 13px 0 8px 0;
}
.product-sklad-seen .img {
	padding: 1px;
}
.product-seen {
	margin-left: 30px;
}
/** Sklad and Seen end **/

/*TDA Start */
.tdahid {
	display: none !important;
}
/*TDA End */