@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}
textarea{
  resize: none;
}
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
}
.btn{
  white-space: normal;
  line-height: 1;
}
/* Fix bootstrap */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
}
.modal-xl {
  max-width: 1140px;
}
/* Reset */
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.border-radius-10{
  border-radius: 10px;
}
.b_shadow{
  box-shadow: 3px 8px 15px rgba(51, 51, 51, 0.6);
}
.text-size-5{
  font-size: 1.2em;
}
.text-size-6{
  font-size: 1.4em;
}
.text-size-7{
  font-size: 1.7em;
}
.bg_black--op50{
  background-color: rgba(0, 0, 0, 0.5);
}
.text-red{
  color: red;
}
.text_black{
  color: #383838;
}
.text_blackRed{
  color: #FF1045;
}
.w-space-nowr{
  white-space: nowrap;
}
.text-black{
  color: #000;
}
.tr-translate-y50{
  transform: translate(0,50%);
  z-index: 1;
}
.tr-translate-y-50{
  transform: translate(0,-50%);
  z-index: 1;
}
.bg_blackRed{
  background-color: #FF1045;
}
.bg_lightGray{
  background-color: #F4F4F4;
}
.bg_gray{
  background-color: #D7D6D6;
}
.section_title{
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 768px) {
  .section_title{
    font-size: 2rem;
    line-height: 2rem;
  }
}
.input-group input{
  min-width: 200px;
}

/* btn */
.transition--slide {
  position: relative;
  overflow: hidden;
}
.transition--slide::before {
  margin-left: 60px;
  content: "";
  width: 30px;
  height: 300px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform: rotate(45deg);
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

/* animated-pulse */
.animated-pulse{
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Custom */
/* section-nav */
.section-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11111;
}
.section-nav:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0,0,0,.2);
  box-shadow: 0px 20px 25px 20px rgba(0,0,0,.2);
}
.nav-nav__item{
  position: relative;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.nav-nav__item:hover{
  color: red;
}
@media(max-width: 768px){
  .nav-nav__item{
    font-size: 1rem;
    padding: 0rem 0.5rem;
    margin: 0.25rem auto;
  }
}

/* section-main */
.section-main{
  background: url(../../public/assets/img/back/bg_main.png) no-repeat center bottom;
  background-size: cover;
  padding-top: 10vh;
  padding-bottom: 2rem;
  position: relative;
}
.section-main:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}
.main-left_title{
  font-size: 50px;
}
.main-left_img{
  max-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}
.main-left_img img{
  max-width: 100%;
}
@media(max-width: 768px){
  .section-main{
    padding-top: 15vh;
  }
  .main-left_title{
    font-size: 40px;
  }
}
/* section-advantages */
.section-advantages img{
  min-width: 90px;
  max-width: 100px;
  margin-right: 1rem;
}

/* section-delivery */
.section-delivery{
  position: relative;
  /* background-color: #000; */
}
.section-delivery::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  height: 80%;
}
.section-delivery .delivery-imgIcon{
  min-width: 120px;
}
.delivery-light{
  height: 100%;
  position: relative;
}
.delivery-light::before{
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  right: 0;
  height: 8px;
  background-color: #fff;
}
.delivery-zvezd{
  padding-left: 5rem;
  position: relative;
}
.delivery-zvezd:before{
  content: '*';
  font-size: 70px;
  line-height: 70px;
  font-weight: 100;
  position: absolute;
  left: 2rem;
  top: 0;
}

/* section-catalog */
.section-catalog{
  background-color: #D7D6D6;
}
.catalog-item{
  transition: background .4s;
}
.catalog-item{
  box-shadow: 10px 10px 20px #444;
  border-radius: 30px;
  background-color: #fff;
}
.castom_input .c__input input {
  display: none;
}
.castom_input .c__input label {
  padding: 0.2rem 1rem;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  line-height: 1.4em;
  border-radius: 8px;
  color: #000;
  background: #E4CD0C;
  cursor: pointer;
  margin: 0.5rem 1rem;
  box-shadow: 5px 5px 20px #444;
}
.castom_input .c__input label:hover,
.castom_input .c__input input:checked + label {
  color: #fff;
}
.section-catalog input{
  border-radius: 15px;
  font-size: 1.2rem;
}
.section-catalog input::placeholder{
  color: #fff;
}
.section-catalog button{
  white-space: normal;
  border-radius: 15px;
  max-width: 200px;
  font-size: 1.3rem;
  line-height: 1rem;
  font-weight: 700;
}
.catalog-present__item{
  height: 140px;
  width: 140px;
  background-color: #af1313;
}
@media (max-width: 1600px){
  .castom_input .c__input label{
    font-size: 1.6rem;
  }
}
@media (max-width: 1200px){
  .castom_input .c__input label{
    font-size: 1.4rem;
  }
}
@media (max-width: 768px){
  .castom_input .c__input label{
    font-size: 1rem;
  }
}

/* section-bank */
.section-bank{
  background-color: #FFCF00;
}
.bank-img{
  position: absolute;
  transform: rotate(-45deg);
  top: -40%;
  left: 35%;
}

/* section-consultation */
.section-consultation{
  position: relative;
}
.section-consultation:before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  display: block;
  background: url(../../public/assets/img/back/man-2.png) no-repeat center bottom;
  background-size: auto 95%;
}
.section-consultation input{
  border-radius: 15px;
  font-size: 1.2rem;
}
.section-consultation input::-webkit-input-placeholder{
  color: #fff;
}
.section-consultation input::-moz-placeholder{
  color: #fff;
}
.section-consultation input:-ms-input-placeholder{
  color: #fff;
}
.section-consultation input::-ms-input-placeholder{
  color: #fff;
}
.section-consultation input::placeholder{
  color: #fff;
}
.section-consultation button{
  white-space: normal;
  border-radius: 15px;
  max-width: 200px;
  font-size: 1.3rem;
  line-height: 1rem;
  font-weight: 700;
}
@media(max-width: 1600px){
  .section-consultation:before{
    background-size: auto 80%;
  }
}
@media(max-width: 992px){
  .section-consultation:before{
    display: none;
  }
}

/* section-footer */
.section-footer{
  background-color: #FF1045;
}
.footer-icon{
  max-width: 30px;
  margin-right: 0.5rem;
}
.footer-logo{
  max-width: 50%;
}

/* modal */
.questionBank__border-bottom{
  border-bottom: 3px solid #fff;
}
.questionBank__border-right{
  border-right: 3px solid #fff;
}
.question-bank__img{
  max-height: 100px;
}
.modal-question-bank .close{
  position: absolute;
  right: -3rem;
  font-size: 2rem;
  top: 0;
  color: #fff;
  z-index: 11;
}
.modal-question-bank .modal-body .close:hover {
  color: #fff;
}
.carousel i {
  color: #000;
}
@media(max-width: 992px){
  .modal-question-bank .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #fff;
  }
}