@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

/*------------Fix bootstrap---------------*/
@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

.modal-xl {
    max-width: 1140px;
}

/*-----------------------------------------*/


/* ------------------#section-nav----------- */
.filter-gradient {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    background-attachment: fixed;
}

.filter-white {
    background-color: rgba(256, 256, 256, .75);
}

.requisites__text {
    color: #303030;
}

.requisites__schedule {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #333333;
}

@media (max-width: 575.98px) {
    .requisites__schedule {
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .requisites__schedule {
        font-size: 14px;
        line-height: 1.8;
    }
}


.requisites__phones {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    vertical-align: center;
}

.requisites__phones a {
    color: rgb(38, 38, 38);
    text-decoration: none;
    padding-left: 10px;
}

.requisites__phones a.call-order {
    text-transform: uppercase;
    padding-left: 0;
    margin-left: 10px;
    color: #F68341;
    border-bottom: 1px solid #F68341;
}

.text-orange {
    color: rgb(0, 0, 0);
}

.btn_mobile-position i {
    color: #F68341;
}

@media (max-width: 575.98px) {
    .requisites__phones {
        font-size: 12px;
    }
    .btn_mobile-position {
        /*position: absolute;*/
        position: fixed;
        /*top: -200px;*/
        top: 20px;
        right: 20px;
        z-index: 1050;
    }
    .list_mobile-position {
        width: 100%;
        /*position: absolute;*/
        position: fixed;
        /*top: 32px;*/
        top: 70px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .8);
        z-index: 1050;
    }

}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .requisites__phones {
        font-size: 16px;
    }

}

@media (min-width: 576px) and (max-width: 991.98px) {
    .btn_mobile-position {
        /*position: absolute;*/
        position: fixed;
        /*top: -150px;*/
        top: 20px;
        right: 20px;
        z-index: 1050;
    }

    .list_mobile-position {
        width: 100%;
        /*position: absolute;*/
        position: fixed;
        /*top: 32px;*/
        top: 100px;
        left: 0;
        background: rgba(0, 0, 0, .8);
        z-index: 1050;
    }
}

.header__list {
    background-color: #4AA15C;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(8, 167, 2, 0.3);
    width: 100%;
}

.section-top-navbar{
    z-index: 1;
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    transition: top .5s;
}

.section-top-navbar.fixHead{
    top: 0;
}


@media (max-width: 991.98px) {
    .header__list {
        box-shadow: none;
    }
}


.header__item {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 8px;
    border-radius: 15px;
    padding: 5px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 991.98px) {
    .header__list {
        background: none;
    }

    .header__item {
        width: 50%;
        color: #fff;
        border: 2px solid #fff;
    }

    .header__item:hover {
        border-color: rgb(0, 0, 0);
    }


}

.header__item:hover {
    text-decoration: none;
    color: rgb(255, 247, 247);
}


/* ------------------------------------------------ */


/* --------------------#section-sale--------------------- */
.sale {
    padding-bottom: 4rem;
}

header {
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    header {
        font-size: 3rem;
    }
}

.catalog-sale__card {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #eef;
    border: 5px solid red;
    border-radius: 1rem;
}

.catalog-sale__card::before {
    content: '';
    position: absolute;
    border: 30px solid transparent;

    border-top-color: red;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

@media (min-width: 768px) {
    .catalog__card__list {
        margin: 0 1rem;
    }

    .catalog-sale__card {
        margin: 1rem;
        padding: 2rem;
    }

    .catalog-sale__card::before {
        border-top-color: transparent;
        border-right-color: red;
        bottom: 50%;
        left: 0;
        transform: translate(-100%, 50%);
    }
}
.table td {
    float: right;
}
.catalog__card {
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.6) !important;
}

@media (min-width: 768px) {
    .catalog__card {
        margin-top: 0;
    }
}

.catalog-sale__title {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.carousel-inner {
    border-radius: 10px;
}

.catalog__label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    transform: translate(-10%, -50%);
}

.catalog__card__title {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    /*color: white;*/
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
}

.catalog__card__list {
    text-align: left;
}

.catalog__card__price__title {
    text-align: left;
    font-weight: bold;
}

.catalog__card__price--old {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.catalog__card__price {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-bottom: 0.5rem;
    color: rgb(252, 0, 0);
    font-size: 50px;
    font-weight: bold;
}

.btn-custom {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    width: 70%;
    border-radius: 30px;
}

.transition--slide {
    position: relative;
    overflow: hidden;
}

.transition--slide::before {
    margin-left: 60px;
    content: " ";
    width: 30px;
    height: 300px;
    background: #ffffff80;
    -webkit-animation-delay: .05s;
            animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    transition: all .1s;
    -webkit-animation-name: slideme;
            animation-name: slideme;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    transform: rotate(45deg);
}

@-webkit-keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

/* ----------------------------------------------------- */

/* --------------------#section-catalog-------------- */
.hero-hexagons {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
  .catalog-card{
    position: relative;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 2%;
    background-color: white;
    text-align: center;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0,0,0,0.6) !important;
  }
  @media (min-width: 768px) {
    .catalog-card{
        margin-top: 0;
    }
  }
  .catalog-card__title{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
  }
  .catalog-card__table{
    text-align: left;
  }
  .catalog-card__table th{
    color: rgba(8, 8, 8, 0.726);
  }
  @media (min-width: 768px) {
    .catalog-card__table{
        margin:0;
    }
  }
  form.catalog-card .btn_catalog,
  .btn_catalog{
    background-color: transparent;
    border: 2px solid #0a0a0a;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    color:rgb(255, 0, 0);
  }
  form.catalog-card .btn_catalog:hover,
  .btn_catalog:hover{
    background-color: rgba(5, 126, 31, 0.726);
    color:#fff;
  }
  .castom_input .c__input input:checked + label {
    color: white;
    background: linear-gradient(#fd0404,#333333);
    border-top: 2px solid #3d3c3c;
    box-shadow: 0 0 1px #ff0000;
  }
  .castom_input .c__input label {
    padding: 0.2rem 1rem;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    line-height: 1.6em;
    border-radius: 8px;
    color: #000;
    border-top: 2px solid #F2F5F8;
    background: #F2F5F8;
    cursor: pointer;
    margin: 0.2rem;
  }
  .castom_input .c__input label:hover {
    background: #d1dce6;
    border-top: 2px solid #b0c2d4;
    box-shadow: 0 0 1px #b0c2d4;
  }
  .castom_input .c__input input {
    display: none;
  }
  .catalog__label {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 10;
    font-size: 1.5rem;
    transform: translate(-10%,-50%);
  }
  .animated-pulse{
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
            animation-name: pulse;
  }
  @-webkit-keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

/* ----------------------------------------------------- */

/* --------------------#section-warranty-------------- */
.warranty {
    background-color: #0ca33e8c;
}

.title span {
    color: rgba(255, 4, 4, 0.795);
}

.white-circle {
    width: 350px;
    height: 350px;
}

.pila {
    width: 150%;
    transform: rotate(22deg) translate(-131px, 50px);
}

.warranty100 {
    width: 60%;
    transform: translate(160px, -70px);
}

@media (max-width: 575.98px) {
    .white-circle {
        margin-top: 30px;
        width: 200px;
        height: 200px;
    }

    .pila {
        transform: rotate(22deg) translate(-100px, 20px);
    }

    .warranty100 {
        width: 80%;
        transform: translate(60px, -60px);
    }
}

@media (min-width: 576px)  and (max-width: 1199.98px) {
    .white-circle {
        transform: scale(0.8);
    }
}

.warranty__list li {
    font-size: 20px;
}


/* ----------------------------------------------------- */

/*-------------------#section-additional-----------------------------*/
.equipment__card{
    margin-bottom: 1rem;
}
.equipment__price{
    font-size: 1.5rem;
}
.equipment__text{
    font-weight: bold;
}

/* ----------------------------------------------------- */

/*-------------------#section-callback-----------------------------*/
.callback-wrapper {
    position: relative;
    border-radius: 10px;
    background-color: #daf2ff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }
  
  .callback-person {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .rectangle,
  .rectangle {
    display: none;
    position: absolute;
    transform: rotate(45deg);
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #daf2ff;
  }
  
  .rectangle_left {
    left: -15px;
  }
  
  .rectangle_right {
    right: -15px;
  }
  
  .rectangle_top {
    position: absolute;
    top: -15px;
    left: 45%;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    background-color: #daf2ff;
  }
  
  .callback__btn {
    color: #fff;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    background-color: #ff1e1e;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  }
  
  .callback__btn:hover {
    background-color: #ff5252;
  }
  
  .callback__input {
    margin: 0;
    font-size: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    border-radius: 1rem;
  }
  
  @media (min-width: 770px) {
    .rectangle_top {
      display: none;
    }
  
    .rectangle {
      display: block;
    }
  }
  @media (max-width: 770px){
    .section-callback>.container>.row:nth-child(3) .rectangle_top,
    .section-callback>.container>.row:nth-child(5) .rectangle_top{
        top: auto;
        bottom: -15px;
    }
  } 

/* ----------------------------------------------------- */

/*-------------------CUSTOM FILE UPLOAD-----------------------------*/
.fl_upld {
    width: 300px;
  }
  
  #fl_inp {
    display: none;
  }
  
  .fl_upld label {
    cursor: pointer;
    padding: 10px 25px;
    color: #fff;
    text-align: center;
    background-color: #ff1e1e;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    outline: none;
  }
  
  .fl_upld label:hover {
    cursor: pointer;
  }
  
  #fl_nm {
    margin-top: 20px;
    color: #f00;
  }
/* ----------------------------------------------------- */

/*-------------------#section-contact-----------------------------*/
#section-contact{
    background-image: url("../img/back/main_.jpg");
    background-size: cover;
    background-position: center bottom;
}
.contact__phone{
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f3bc06;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ----------------------------------------------------- */


/*-------------------Custom-----------------------------*/
.text-red {
    color: red;
}

.c__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.c__gradient {
    background-image: linear-gradient(0deg, rgba(5, 126, 31, 0.726), rgba(8, 167, 2, 0.699));
}

.c__bg--white60 {
    background-color: rgba(255, 255, 255, 0.6);
}

.ul__fa--green i {
    color: green;
}

a {
    color: inherit;
}

a:hover {
    color: red;
    text-decoration: none;
}

/*-------------------modal-callback-----------------------------*/
.callback {
    background-color: #f2faff;
 }
  
.callback-modal__btn {
    color: #ffffff;
    background-color: #ff1e1e;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-weight: 600;
    height: 60px;
    text-transform: uppercase;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

.callback-modal__btn:hover {
    cursor: pointer;
}

.callback-modal__btn:focus {
    outline: none;
}

/* ----------------------------------------------------- */

/*-------------------modal-product-----------------------------*/
.modal-product .close{
    position: absolute;
    top: -25px;
    right: -56px;
    z-index: 2;
    padding: 1rem;
  }
  @media(max-width: 700px){
    .modal-product .close{
      top: 0;
      right: 0;
    }
  }
  .modal-product ul> li>span{
    color: green;
    font-weight: 700;
  }
  .owl-carousel-modal{
    overflow: hidden;
  }
  .owl-carousel-modal .owl-nav .owl-prev,
  .owl-carousel-modal .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 117px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    border-radius: 50%;
    opacity: 0.7;
  }
  .owl-carousel-modal .owl-nav .owl-prev{
    left: -50px;
    background: linear-gradient(to right,rgba(0,0,0,.65) 0%,transparent 100%);
  }
  .owl-carousel-modal .owl-nav .owl-next{
    right: -50px;
    background: linear-gradient(to left,rgba(0,0,0,.65) 0%,transparent 100%);
  }
  .owl-carousel-modal .owl-nav .owl-prev:hover,
  .owl-carousel-modal .owl-nav .owl-next:hover{
    opacity: 1;
  }
  .owl-carousel-modal .owl-nav .owl-prev i{
    transform: translate(15px);
    color: #fff;
  }
  .owl-carousel-modal .owl-nav .owl-next i{
    transform: translate(-15px);
    color: #fff;
  }
  
  .owl-carousel-modal .owl-dots{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.65) 100%);
    width: 30%;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .owl-carousel-modal .owl-dots .owl-dot{
    height: 10px;
    width: 10px;
    margin: 5px;
    background-color: rgba(255,255,255,.4);
    display: block;
    border-radius: 50%;
  }
  .owl-carousel-modal .owl-dots .owl-dot:hover{
    background-color: rgba(108, 200, 30,.6);
  }
  .owl-carousel-modal .owl-dots .owl-dot.active{
    background-color: rgb(108, 200, 30);
  }

  /* ----------------------------------------------------- */

/*--------------------#modal-order2--------------------*/
.c__modal__order--bg {
    background-image: url('../img/bg-from.jpg');
    background-size: cover;
    background-position: center;
}

.c__panel {
    padding: 2rem;
}

.c__panel--white-60 {
    background-color: rgba(255, 255, 255, 0.6);
}

.c__panel--black-60 {
    background-color: rgba(0, 0, 0, 0.6);
}

/*-------------------------------------------------*/





/* section-main */
.section-main{
    background: url(../img/back/bg-grace.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.section-main a.prise-btn:hover{
    color: #fff;
}
.main-wrap{
    padding-top: 6rem;
    padding-bottom: 10rem;
}
.main-wrap__title{
    font-size: 56px;
    font-weight: 500;
    color: #131a0f;
    line-height: 1.2;
}
.main-wrap__subtitle{
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 23px;
    line-height: 1.2;
    color: #358d36;
}
.main-wrap__text{
    font-size: 18px;
    margin-bottom: 43px;
    max-width: 548px;
}
.main-wrap__prise{
    margin-bottom: 42px;
    min-height: 75px;
}
.main-wrap__prise__discount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #f98922;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-right: 1rem;
    margin-left: 10px;
}
.main-wrap__prise__discount:before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: -1;
    background: transparent;
    box-shadow: 0 0 8px rgba(49,43,39,.25);
}
.main-wrap__prise-current {
    font-weight: 700;
    font-size: 28px;
    color: #f98922;
    margin-right: 10px;
    text-transform: uppercase;
}
.main-wrap__prise-old {
    font-weight: 500;
    font-size: 18px;
    color: #8c8c8c;
    text-transform: uppercase;
}
.prise-btn{
    background: linear-gradient(180deg,#41961e,#5fc435);
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 15px 30px;
}
.prise-btn:after {
    content: url(../img/icon/lineRight.svg);
    display: inline-block;
    vertical-align: middle;
    margin-left: 23px;
}
.main-right{
    background: url(../img/icon/product.png) no-repeat center center;
    background-size: contain;
    padding-top: 4rem;
}
.promo__gift-info {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 40px 10px 17px;
    background: #fff;
    box-shadow: 0 0 8px hsla(25,27%,54%,.25);
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    max-width: 400px;
    margin-bottom: 10px;
    text-align: right;
}
.promo__gift-info:hover{
    color: rgb(33, 37, 41);
}
.promo__gift-info_bright {
    color: #f98922;
}
.promo__gift-ico-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 8px hsla(25,27%,54%,.25);
    width: 62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 100%;
    transform: translate(45%);
}
.promo__gift-icon {
    height: 100%;
    width: auto;
}
@media(max-width: 768px){
    .main-wrap{
        padding-top: 1rem;
    }
    .main-right{
        padding-top: 0rem;
    }
    .main-right{
        background: none;
    }
    .section-main:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/icon/product.png) no-repeat right center;
        background-size: 50%;
        pointer-events: none;
        z-index: -1;
    }
    .main-wrap__prise{
        margin-bottom: 0;
    }
    .section-main{
        background-size: auto;
    }
}

/* pluses */
.section-pluses {
    margin-top: -21px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
.pluses__card {
    padding: 25px;
    background: #fff;
    box-shadow: 0 0 14px hsla(25,27%,54%,.25);
    border-radius: 5px;
}
.pluses__card-thumb {
    width: 77px;
    height: 77px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px hsla(0,0%,45%,.13);
    margin-bottom: 24px;
}
.pluses__card-title {
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 600;
}
.pluses__card-thumb:before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    top: 5.5px;
    left: 5.5px;
    border-radius: 100%;
    background: #f98922;
}
.pluses__card-thumb>svg {
    position: relative;
}
@media(max-width: 768px){
    .section-pluses {
        margin-top: -10px;
        padding-bottom: 50px;
    }
}



/* modal-prise */
.modal-body{
    font-family: 'Roboto', sans-serif;
}
.modal-prise__title {
    font-size: 30px;
    color: #313644;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.form__input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 14px 40px 14px 25px;
    background: #fff;
    border: 1px solid #c4c4c4;
    background-image: url(../img/icon/check.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;
    border-radius: 30px;
    outline: 0;
}
.modal-prise-btn{
    background: linear-gradient(180deg,#41961e,#5fc435);
    border-radius: 5px;
    color: #fff;
}
.modal-prise-btn:hover{
    color: #fff;
}
.form__valid.form__input:invalid {
    background: #fff;
    border: 1px solid red;
}
.form__valid.form__input:valid{
    border: 1px solid #08b688;
    background-color: rgba(8,182,136,.13);
}
.form__gifts-promo {
    font-weight: 500;
    font-size: 15px;
    color: #131a0f;
    margin-bottom: 20px;
}
.form__gifts {
    display: flex;
    overflow: auto;
    padding: 15px;
    margin: -15px -15px 5px;
}
.form__gift-checkbox {
    display: none;
}
.form__gift-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 172px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0 0 14px hsla(25,27%,54%,.25);
    border-radius: 5px;
    padding: 12px 5px 17px;
    margin: .5rem auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s;
}
.form__gift-card:before {
    content: url(../img/icon/checkBox0.svg);
    position: absolute;
    top: 0;
    right: 0;
}
.form__gift-thumb {
    margin-bottom: 8px;
}
img, video {
    display: block;
    max-width: 100%;
    height: auto;
}
.form__gift-title {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    max-width: 100%;
    margin-bottom: 7px;
    text-align: center;
}
.form__gift-new-price {
    font-weight: 700;
    font-size: 18px;
    color: #f98922;
    margin-right: 11px;
}
.form__gift-old-price {
    font-weight: 500;
    font-size: 12px;
    color: #8c8c8c;
}
.form__gift-checkbox:checked+.form__gift-card:before {
    content: url(../img/icon/checkBox1.svg);
}
.form__gift-checkbox:checked+.form__gift-card {
    border-color: #41961e;
}
/* select */
.select {
    position: relative;
    display: block;
    min-width: 220px;
    width: 100%;
    margin-bottom: 20px;
}
.select__head {
    width: 100%;
    max-width: 100%;
    border: 1px solid #08b688;
    background-color: rgba(8,182,136,.13);
    border-radius: 30px;
    padding: 14px 15px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
}
.select__head::after {
    width: 10px;
    height: 6px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A") no-repeat center / cover;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}
.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}
.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #424348;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}
.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}
.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}
.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}
.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}