@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

li{
    list-style-type: none;
}
ul{
    padding: 0;
}

#section-main {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-image: url("../../public/assets/img/back/main_page.jpg");
    background-size: cover;
    background-position: center center;
}

#section-about {
    background-image: url("../../public/assets/img/back/main.jpg");
    background-size: cover;
    background-position: center bottom;
}

/* Fix bootstrap */
@media (min-width: 1600px) {
    .container {
        max-width: 1480px;
    }
}

/* Reset */
a {
    color: inherit;
}

a:hover {
    color: red;
    text-decoration: none;
}

.text-red {
    color: red;
}

.c__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.c__bg--white60 {
    background-color: rgba(255, 255, 255, 0.6);
}

.c__font--alt {
    font-family: 'Montserrat', sans-serif;
}

.ul__fa--green i {
    color: green;
}

/* Custom */
/* btn */
.transition--slide {
    position: relative;
    overflow: hidden;
  }
  .transition--slide::before {
    margin-left: 60px;
    content: "";
    width: 30px;
    height: 300px;
    background: #ffffff80;
    -webkit-animation-delay: .05s;
            animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    transition: all .1s;
    -webkit-animation-name: slideme;
            animation-name: slideme;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    transform: rotate(45deg);
  }
  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
/* btn end */
/* btm_castom */
.btm_castom a,
.btm_castom button {
  height: auto;
  max-width: 100%;
  white-space: normal;
}
.btm_castom button,
.btm_castom a {
  transition-delay: 1s;
  color: #ffffff;
  background: linear-gradient(#cccf00, #b3b600);
  border-radius: 15px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 15px;
  display: inline-block;
  box-shadow: 0 4px 0 #868400, 0 4px 0 #868400, 5px 10px 10px 0px #909200;
  transition: all .5s;
  text-align: center;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.btm_castom button:focus{
  outline: none;
}
.btm_castom:active button,
.btm_castom:active a {
  box-shadow: none;
}
.btm_castom button:hover,
.btm_castom a:hover{
  background: linear-gradient(#cccf00, #b5b800)
}
/* btm_castom end*/

header {
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
@media (min-width: 768px) {
    header {
        font-size: 3rem;
    }
}
.countdown-week {
    font-size: 1rem;
}
@media (min-width: 1000px) {
    .countdown-week {
        font-size: 1.8rem;
    }
}
.section-title {
    color: #3f2803;
    font-size: 1.8rem;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main__title {
    font-size: 2rem;
    font-weight: 900;
}
.main__subtitle {
    font-size: 2rem;
    font-weight: 900;
}
@media (min-width: 1000px) {
    .main__title {
        font-size: 4rem;
    }
    .section-title {
        font-size: 3rem;
    }
}
.about__title {
    color: yellow;
}
.about__text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.contact__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.contact__phone {
    font-weight: bold;
    font-size: 2rem;
}
.btn-my {
    background-color: #e62222;
    color: white;
    font-size: 2rem;
}
.leftstr,
.rightstr {
    float: left;
    width: 50%;
}
.rightstr {
    text-align: right;
}
.btn-custom {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    width: 70%;
    border-radius: 30px;
}
.imgPhone_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgPhone_wrap img{
    max-width: 1.6rem;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 10px;
}

/* section-header  */
.section-header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 111;
  top: 0;
}
.header-top{
    background: #56A131;
}
.navbar-toggler{
  padding: 1.25rem .75rem;
  display: inline-block;
}
.navbar-toggler .navbar-toggler_item{
  background: rgba(0, 0, 0, 0);
  display: block;
  width: 35px;
  border-radius: 1.5px;
  height: 3px;
  position: relative;
  transition: all .4s;
  transform: rotate(90deg);
}
.navbar-toggler .navbar-toggler_item:before,
.navbar-toggler .navbar-toggler_item:after{
  content: '';
  position: absolute;
  transition: all .4s;
  left: 50%;
  border-radius: 1.5px;
  height: 3px;
  width: 100%;
  background-color: #000;
}
.navbar-toggler .navbar-toggler_item:before{
  top: 0px;
  transform: translate(-50%,-50%) rotate(225deg);
}
.navbar-toggler .navbar-toggler_item:after{
  bottom: 0px;
  transform: translate(-50%,-50%) rotate(-225deg);
}
.navbar-toggler.collapsed .navbar-toggler_item:before,
.navbar-toggler.collapsed .navbar-toggler_item:after{
  transform: translate(0%,0%);
  left: 0%;
}
.navbar-toggler.collapsed .navbar-toggler_item:before{
  top: 10px;
}
.navbar-toggler.collapsed .navbar-toggler_item:after{
  bottom: 10px;
}
.navbar-toggler.collapsed .navbar-toggler_item{
  background: rgba(0, 0, 0, 1);
  transform: rotate(0deg);
}
.collapse {
  width: calc(100% + 17px);
  transition: all 0.4s;
  position: absolute;
  height: 100vh;
}
.collapse__wrap{
    overflow-y: scroll;
    max-height: 85vh;
}
.collapse__close{
    width: 100%;
    background-color: rgba(0,0,0,.4);
    height: 100%;
}
/* .header-phone__wrap, */
.header-logo__wrap{
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%);
}
.header-logo__wrap a{
    pointer-events: auto;
}
.header-logo__wrap img{
    max-height: 120px;
    height: 100%;
    width: auto;
    padding-top: 10px;
    -o-object-fit: contain;
       object-fit: contain;
}
.nav-item{
    text-align: center;
}
.nav-item a{
  display: inline-block;
  padding: 0.5rem;
  margin: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  transition: background 0.4s;
}
.nav-item a span{
    position: relative;
}
.nav-item a span:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    width: 0px;
    background-color: #56A131;
    transform-origin: top left;
    transition: all .3s ease-out;
}
.nav-item a.active span,
.nav-item a:hover span{
  color: #56A131;
}
.nav-item a.active span:before,
.nav-item a span:hover:before{
    width: 70%;
}
@media(max-width: 1200px){
    .header-logo__wrap{
        max-height: 50px;
    }
}

/* section-advantages2 */
.section-advantages2__img {
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* section-otvety */
.section-otvety {
    background-color: #e1ffa6;
}
.otvety-item{
    min-width: 250px;
    margin-bottom: 1rem;
}
.otvety-item__svg {
    fill: transparent;
    width: 50px;
    height: auto;
    margin-right: 0.5rem;
}
.section-strength__text{
    font-size: 14px;
}

/* section-strength */
.section-strength{
    background-color: #e1ffa6;
}
.section-strength__title{
    max-width: 250px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%)
}
.section-strength__subtitle{
    max-width: 250px;
}
@media(max-width: 576px){
    .section-strength__subtitle{
        font-size: 0.8rem;
    }
}

/* section-catalog */
.section-catalog__cart-product {
    margin: 4rem 0;
    padding: 0.5rem;
    box-shadow: 2px 5px 1rem rgba(0, 0, 0, 0.4);
}
@media(min-width: 992px) {
    .section-catalog__cart-product {
        padding: 1rem;
    }
}

.catalog__table{
    font-size: 1rem;
}
.catalog__table th{
    vertical-align: middle;
}

.catalog-toggle__container{
    display: none;
}

.catalog-btn-custom{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    white-space: normal;
}

.has-calculator__title {
    margin: 0;
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.catalog__input {
    display: inline-block;
    margin: 0;
}
.catalog__input__label {
    display: block;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.6em;
    cursor: pointer;
    margin: 0.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 4px;
    border-top: 2px solid #F2F5F8;
    background: #F2F5F8;
    transition: all 0.3s;
}
.catalog__input__label:hover {
    background: #d1dce6;
    border-top: 2px solid #b0c2d4;
    box-shadow: 0 0 1px #b0c2d4;
}
.catalog__input input:checked + .catalog__input__label {
    color: white;
    background: linear-gradient(#92cf00, #6e9c00);
    border-top: 2px solid #5c8200;
    box-shadow: 0 0 1px #5c8200;
}
.catalog__text__label {
    display: block;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6em;
    margin: 0.2rem;
}
.catalog__input input {
    display:none;
}
@media(min-width: 992px) {
    .catalog__table{
        font-size: 1.2rem;
    }
    .catalog__input__label,
    .catalog__text__label{
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
    }
}
.product-price {
    font-size: 2rem;
}
.product-price_new {
    font-weight: bold !important;
}
@media(max-width: 576px){
    .product-price{
        font-size: 1.5rem;
    }
    .catalog__table,
    .catalog__input__label,
    .catalog__text__label{
        font-size: 0.8rem;
    }
}


/* SECTION ADVANTAGES */
.advantages__card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid silver;
}

/*------------------- #section-reviews -----------------------------*/
.reviews {
    background: url("../../public/assets/img/back/greenhoouse-reviews.jpg") 50% 100% no-repeat;
}

@media (max-width: 991px) {
    .reviews {
        background: url("../../public/assets/img/back/greenhoouse-reviews-medium.jpg") 50% 0% no-repeat;
        background-size: contain;
    }
}

@media (max-width: 767px) {
    .reviews {
        background: none
    }
}

.review__text {
    font-size: 14px;
    line-height: 20px;
}

.title {
    padding-top: 15px;
    font-size: 31px;
    line-height: 60px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 991px) {
    .title {
        padding-top: 30px;
        font-size: 27px;
        line-height: 45px;
    }
}

.catalog-toggle__container{
    display: none;
}
@media(max-width: 374px){
    .catalog-toggle__container{
        font-size: 14px;
    }
}

/* SECTION GUARANTEE */
.guarantee-content {
    background-image: url("../../public/assets/img/back/greenhoouse-goodprice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.guarantee-content__title {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
}

.guarantee-content__text {
    line-height: 1.3rem;
    color: #fff;
    text-align: justify;
}

/* section-footer-forma */
.footer-forma__subtitle {
    padding: 4px 10px 0 0;
    color: #80b500;
    line-height: 24px;
    text-align: right;
}

.footer-forma__btn-to-catalog {
    border-bottom: thin dashed #3f2803;
    -webkit-transition: color 0.5s, border 0.5s;
    transition: color 0.5s, border 0.5s;
}

.footer-forma__btn-to-catalog:hover {
    color: #80b500;
    border-bottom-color: #80b500;
}

/* section-footer */
.section-footer {
    background: #80b500;
    color: #F2F5F8;
    font-family: 'Montserrat', sans-serif;
}

.section-footer__title {
    color: #b5ff03;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.section-footer p {
    font-size: 14px;
}

.footer-phone {
    font-family: 'Montserrat', sans-serif;
}

.copy {
    line-height: 45px;
    font-size: 12px;
    color: #a4e800;
}

.provercaPhone__inputPhone{
    font-size: 32px;
    color: #000;
}