#section-nav{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    padding: 0.2rem 0;
    background-color: white;
    border-bottom: 5px solid #81c916;
    z-index: 999;
}
#section-main{
    padding-top: 8rem;
    background: url("../img/back/poster.jpg") top center no-repeat;
    background-size: cover;
}
#section-contact{
    background: url("../img/contact/manager.jpg") center no-repeat;
    background-size: cover;
}

/* Fix bootstrap */
@media (min-width: 1600px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1540px;
    }
    .modal-xl {
        max-width: 1200px;
    }
}
.table--md td, .table--md th {
    padding: .4rem;
}
@media (min-width: 1000px){
    .table--md--mobile td, .table--md--mobile th {
        padding: .5rem;
    }
}
@media (min-width: 1280px){
    .table--md--mobile td, .table--md--mobile th {
        padding: .6rem;
    }
}

/* Reset */
a{
    color: inherit;
}
a:hover{
    color: red;
    text-decoration: none;
}

/* Custom */
.text-red{color: red;}
.text-shadow{text-shadow: 2px 2px 5px black;}
.text-alt{font-family: 'Montserrat', sans-serif}

.c__section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.c__gradient{
    background-image: linear-gradient(0deg, #5a9d0f, #81c916);
}
.c__bg--white80{
    background-color: rgba(255,255,255,0.8);
}
.c__bg--black60{
    background-color: rgba(0,0,0,0.6);
}
.c__bg--blue60{
    background-color: rgba(0,0,255,0.6);
}
.c__shadow{
    box-shadow: 0 0 2rem black;
}
.c__btn{
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
    border: 1px solid silver;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    transition: box-shadow 300ms;
}
.c__btn:hover{
    box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
}
.c__btn:focus{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.c__btn--sm{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.c__btn--lg{
    padding: 1rem 3rem;
    font-size: 2rem;
}
.c__btn--danger{
    color: #543500;
    background-color: #ffe007;
    background-image: linear-gradient(to bottom, #ffe007, #ffa007);
    border: 2px solid #ef9300;
    border-bottom-width: 5px;
    border-radius: 6px;
    text-shadow: 0px 0px 4px white;
}
.c__btn--danger:hover{
    background-color: #ffe007;
    background-image: linear-gradient(to bottom, #ffe007, #ffa007);
}
.c__btn--success{
    color: white;
    background-color: #009a00;
    background-image: linear-gradient(to bottom, #00ba00, #009100);
    border: 2px solid green;
    border-bottom-width: 5px;
}
.c__btn--success:hover{
    background-color: #00bb00;
    background-image: linear-gradient(to bottom, #00c700, #009900);
}
.app-border{
    background-color: rgba(0,0,0,0.6);
    background-image: url("../img/back/main_label_h.jpg"), url("../img/back/main_label_h.jpg"), url("../img/back/main_label_v.jpg"), url("../img/back/main_label_v.jpg");
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: top, bottom, left, right;
}

header{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 3rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 0px 2px #1f3c00;
    color: white;
    background: linear-gradient(0deg, #5a9d0f, #81c916);
}
@media (min-width: 768px) {
    header{
        font-size: 3rem;
    }
}

.countdown-week{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
@media (min-width: 1200px) {
    .countdown-week{
        font-size: 1.5rem;
    }
}

.nav__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
}
.nav__phone{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* main */
.main-form{
    padding: 2rem 1rem;
    color: white;
}
.main__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.main__subtitle{
    font-size: 1rem;
}
.main__text-promo{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-shadow: 0px 0px 7px black, 0px 0px 5px black, 0px 0px 9px black, 0px 0px 11px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}
.main__text-promo--with-border{
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1000 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpolygon fill="white" fill-opacity="0.8" stroke="white" stroke-width="2" stroke-linejoin="round" points="10,98 100,2 990,2 900,98" /%3E%3Cpolygon fill="red" fill-opacity="1" stroke="white" stroke-width="2" stroke-linejoin="round" points="10,98 100,2 990,2 900,98" /%3E%3C/svg%3E');
}
@media (min-width: 768px) {
    .main__title{
        font-size: 4rem;
    }
    .main__subtitle{
        font-size: 3rem;
    }
    .main__text-promo{
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    .main__title{
        font-size: 5rem;
    }
    .main__subtitle{
        font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    .main__title{
        font-size: 3rem;
    }
    .main__subtitle{
        font-size: 2rem;
    }
}

.bg-video__container{
    position: relative;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.bg-video__video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.bg-video__video video{
    min-width: 100%;
    min-height: 100%;
}
.bg-video__overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}
.bg-video__content{
    position: relative;
}

/* COMPARISON */
.comparison__table{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
.comparison__table th,.comparison__table td{
    padding: 1rem;
    border: 1px solid #eee;
    border-bottom-width: 2px;
    border-left-color: grey;
    border-left-width: 3px;
}
.comparison__table thead th{
    font-size: 1.5rem;
}
.comparison__table tbody th{
    border-left-width: 0;
    color: green;
    font-style: italic;
    text-align: right;
}
.comparison__table .comparison__body--secondary{
    border-right-color: black;
    border-right-width: 4px;
}
.comparison__table .comparison__head--featured{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: green !important;
    border: 9px solid green;
}
.comparison__table .comparison__head--featured::before{
    content: "";
    position: absolute;
    top: -2rem;
    height: 2rem;
    background-color: green;
    left: -9px;
    right: -9px;
    border-radius: 1rem 1rem 0 0;
}
.comparison__table .comparison__body--featured{
    font-size: 1.5rem;
    font-weight: bold;
    border-left: 9px solid green;
    border-right: 9px solid green;
}
.comparison__table .comparison__footer--featured{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    border-left: 9px solid green;
    border-right: 9px solid green;
    border-bottom: 9px solid green;
}
.comparison__table .comparison__footer--featured::before{
    content: "";
    position: absolute;
    bottom: -2rem;
    height: 2rem;
    background-color: green;
    left: -9px;
    right: -9px;
    border-radius: 0 0 1rem 1rem;
}
.comparison__img{
    max-width: 100%;
}

/*Catalog*/
.filter__buttons {
    /*text-transform: uppercase;*/
    font-weight: bold;
    background: linear-gradient(0deg, #66d1ffa3, #66d1ff50);
    box-shadow: 0 0 0px 3px #ffffff96;
    border-radius: 15px;
}
.filter__buttons .filter__button {
    display: inline-flex;
    margin: 0.5rem;
    padding: 5px 15px;
    border-radius: 4px;
    text-shadow: 0px 0px 4px white;
    color: #000;
    background-color: #eee;
}
.filter__buttons .filter__button:hover {
    background-color: #ddd;
    text-decoration: none;
}
.filter__buttons .filter__button.active {
    font-weight: bolder;
    color: #543500;
    background-color: #ffc107;
    box-shadow: 0 0 0px 3px #ffffff96;
}
.filter__buttons .filter__button.active:hover {
    color: #543500;
    background-color: #ffc107;
}

.catalog__card{
    position: relative;
    margin-bottom: 2rem;
    border-radius: 16px 16px 15px 15px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
.catalog__block{
    padding: 0.4rem 1rem 1rem;
}
.catalog__subblock__title{
    margin-bottom: 1rem;
    font-weight: bold;
}
@media (min-width: 1200px) {
    .catalog__subblock__title{
        font-size: 1.2rem;
    }
}
.catalog__table{
    font-size: 1rem;
}
@media (min-width: 1200px) {
    .catalog__table{
        font-size: 1.2rem;
    }
}
.catalog__card .table th,
.catalog__card .table td {
    vertical-align: middle;
}
.card__label {
    text-shadow: 0px 0px 2px #000000;
    position: absolute;
    top: 12px;
    left: -5px;
    display: inline;
    padding: 5px 10px;
    padding-right: 15px;
    border-radius: 0 15px 15px 0;
    background-color: #ef9300;
    color: white;
    font-weight: bold;
}
.card__label--orange {
    background-color: #efb700;
}
.card__label--orange2 {
    background-color: #ef6c00;
}

.card__label--white {
    background-color: white;
    left: 8px;
    top: 20px;
    color: black;
    text-shadow: 0px 0px 2px white;
}
.catalog__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
.catalog__title--bordered{
    text-shadow: 0px 0px 3px #1f3c00;
    color: #ffffff;
    padding: 1rem 0;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(0deg, #5a9d0f, #81c916);
}
.catalog__price--old{
    text-align: center;
    text-decoration: line-through;
}
.catalog__price{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: red;
    text-align: center;
}
@media (min-width: 1600px) {
    .catalog__price--lg{
        font-size: 3rem;
    }
}
.catalog__img{
    position: relative;
}
.img__search-label{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.catalog__input {
    display: inline-block;
}
.catalog__input__label {
    display: block;
    padding: 0 0.5rem;
    font-size: 1.2em;
    margin: 0.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.6em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 4px;
    border-top: 2px solid #00000000;
    background: #0000000a;
    transition: all 0.3s;
}
.catalog__card--sm .catalog__input__label{
    margin: 0;
    padding: 0 0.4rem;
    font-size: 1em;
}
@media (min-width: 1000px) {
    .catalog__card--sm .catalog__input__label {
        padding: 0 0.3rem;
        font-size: 0.9em;
        margin: 0;
    }
}
@media (min-width: 1280px) {
    .catalog__card--sm .catalog__input__label {
        padding: 0 0.4rem;
        font-size: 1em;
        margin: 0;
    }
}
.catalog__input__label:hover {
    background: #d1dce6;
    border-top: 2px solid #b0c2d4;
    box-shadow: 0 0 1px #b0c2d4;
}
.catalog__input input:checked + .catalog__input__label {
    text-shadow: 0px 0px 3px #1f3c00;
    color: white;
    background: linear-gradient(#92cf00, #6e9c00);
    border-top: 2px solid #5c8200;
    box-shadow: 0 0 1px #5c8200;
}
.catalog__input input {
    display:none;
}
.catalog__parameter {
    text-align: left;
    font-weight: bold;
}
.catalog__bank {
    padding: 3px;
}
.catalog__fast{
    position: absolute;
    bottom: 0;
    right: 16px;
    transform: translateY(100%);
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}
.catalog__fast--count{
    color: red;
    text-decoration: underline;
}
@media (min-width: 1000px) {
    .catalog__fast{
        font-size: 1.2rem;
    }
}
@media (min-width: 1600px) {
    .catalog__fast{
        font-size: 1.5rem;
    }
}

.manager{
    display: inline-block;
    position: relative;
}
.manager__status{
    position: absolute;
    bottom: 0;
    left: 0;
}
.manager__status-icon{
    text-shadow: 3px 3px 3px white, -3px -3px 3px white, -3px 3px 3px white, 3px -3px 3px white;
}

#filter .fa-ul i {
    color: #0a0;
}

/* equipment */
.equipment__card{
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: white;
    text-align: center;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0,0,0,0.6);
}
.equipment__price{
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.equipment__youtube{
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.equipment__text{
    margin-top: 1rem;
    font-weight: bold;
}

/* advantages */
.advantages__card{
    display: flex;
    margin-bottom: 2rem;
}
.advantages__img{
    color: #6cb212;
    margin-right: 1rem;
}
.advantages__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.review__card{
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid silver;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .review__card:nth-of-type(2n+1){
        transform: translateX(2%);
    }
    .review__card:nth-of-type(2n){
        transform: translateX(-2%);
    }
}
.review__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.review__text{
    padding: 1rem;
    font-size: 1.2rem;
    font-style: italic;
    background-color: #efeffe;
    border-left: 5px solid deepskyblue;
}

/* Gallery */
.gallery__item{
    position: relative;
}
.gallery__img{
    border-radius: 1rem;
}
.gallery__icon{
    text-shadow: 0px 0px 4px #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 5rem;
}

#carousel-gallery .carousel-control-prev {
    left: -10%;
}
#carousel-gallery .carousel-control-next {
    right: -10%;
}
#carousel-gallery .carousel-control-prev,
#carousel-gallery .carousel-control-next {
    display: none;
    width: 10%;
}
@media (min-width: 1024px) {
    #carousel-gallery{
        margin-left: 10%;
        margin-right: 10%;
    }
    #carousel-gallery .carousel-control-prev,
    #carousel-gallery .carousel-control-next {
        display: flex;
    }
}

.hero-hexagons{
    background-color: #eee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.transition--slide {
    position: relative;
    overflow: hidden;
}
.transition--slide::before {
    margin-left: 60px;
    content: " ";
    width: 30px;
    height: 300px;
    background: #ffffff80;
    animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    animation-timing-function: ease-in-out;
    transition: all .1s;
    animation-name: slideme;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
}
@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}