@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');


/*.fone_roboto{
  font-family: Roboto, sans-serif;
}*/
/*@font-face {
  font-family: "Phenomena";
  src: url("../font/Phenomena/Phenomena-ExtraBold.eot");
  src: url("../font/Phenomena/Phenomena-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../font/Phenomena/Phenomena-ExtraBold.woff") format("woff"), 
    url("../font/Phenomena/Phenomena-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}*/
/*.font-weight-800{
  font-weight: 800;
}*/

body {
  font-family: Roboto, serif;
}
textarea{
  resize: none;
}
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
}
section{
  overflow: hidden;
}
/* Fix bootstrap */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
.modal-xl {
  max-width: 1140px;
}
.carousel-control-prev,
.carousel-control-next{
  text-shadow: 2px 2px 2px black;
}
/* Reset */
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.opasiti-75{
  opacity: .75;
}
.opasiti-50{
  opacity: .50;
}
.border-radius-30{
  border-radius: 30px;
}
.border-radius-15{
  border-radius: 15px;
}
.border-radius-10{
  border-radius: 10px;
}
.text-size-1{
  font-size: 0.8em;
}
.text-size-2{
  font-size: 0.9em;
}
.text-size-4{
  font-size: 1.1em;
}
.text-size-5{
  font-size: 1.2em;
}
.text-size-6{
  font-size: 1.4em;
}
.text-size-7{
  font-size: 1.7em;
}
.text-red{
  color: red;
}
.c__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.t_shadow{
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}
.section_title{
  font-size: 2.5rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  .section_title{
    font-size: 2rem;
  }
}

/* btn */
.transition--slide {
  position: relative;
  overflow: hidden;
}
.transition--slide::before {
  margin-left: 60px;
  content: "";
  width: 30px;
  height: 300px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

/* Custom */
/*.section- {
  background: url(../img/back/header.jpg) no-repeat center center;
  background-size: cover;
}*/
/* section-nav */
.section-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.section-nav:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  box-shadow: 0px 20px 20px 14px rgba(255, 255, 255,.2);
  background-color: rgba(255, 255, 255,0.2);
}
.nav-nav__item{
  color: #000;
  font-weight: 700;
  transition: color 0.3s;
  font-size: 2rem;
}
.nav-nav__item:hover{
  color: #000;
}
@media(max-width: 768px){
  .nav-nav__item{
    font-size: 1rem;
    padding: 0rem 0.5rem;
    margin: 0.25rem 0;
  }
}

/* section-main */
.section-main {
  background: url(../../public/assets/img/back/bg_main.png) no-repeat center center;
  background-size: cover;
  padding: 10rem 0 6rem;
}
.mine-logo{
  background-color: #80C89A;
  box-shadow: 0px 0px 50px #ccc;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  position: relative;
}
.mine-logo .mine-logo__wrap{
  transform: scale(1.2);
}
.mine-logo .mine-logo__wrap:after{
  content: '';
  position: absolute;
  top: -85px;
  left: -40px;
  width: 150px;
  height: 150px;
  background: url(../assets/img/icon/sell.png) no-repeat center center;
  background-size: contain;
}
.mine-logo .mine-logo__wrap:before{
  content: '';
  position: absolute;
  bottom: -45px;
  right: -100px;
  width: 150px;
  height: 150px;
  background: url(../assets/img/icon/prise_table.png) no-repeat center center;
  background-size: contain;
}

/* section-bank */
.section-bank{
  background-color: #7CC697;
  color: #000;
}
.bank-img{
  position: absolute;
  transform: rotate(-45deg);
  top: -40%;
  left: 35%;
}

/* section-catalog */
.section-catalog{
  background-color: #1E1E1E;
}
.catalog-title{
  background: url(../assets/img/icon/cat1.png) no-repeat center top;
  background-size: contain;
  padding-top: 20rem;
}
.catalog-title__text{
  font-size: 250px;
  line-height: 250px;
  font-weight: 900;
  background-color: #292828;
  display: inline-block;
  padding: 1rem 3rem;
}
.catalog-item{
  background-color: #7EC999;
  position: relative;
}
.catalog-item__title{
  background-color: #48BA7C;
}
.castom_input .c__input input {
  display: none;
}
.castom_input .c__input label {
  padding: 0.2rem 1rem;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  border-radius: 8px;
  color: #ffffff;
  background: #cccccc;
  cursor: pointer;
  margin: 0.5rem 1rem;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 1), 0px 0px 25px rgba(0, 0, 0, 1);
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}
.castom_input .c__input input:checked + label {
  background: #00914D;
}
.castom_input .c__input label:hover {
  background: #00914D;
}
.catalog-item__btn{
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.6);
}
.has-calculator__formInput{
  margin-top: -37px;
  transform: translate(0, 50%);
}



/* modal-product */
.modal-product .modal-body,
.modal-product .modal-content{
  border-radius: 31px;
}
.bg_whiteGreen{
  background: #7EC999;
}
.modal-product__info{
  padding: 8px;
  background-color: #233D56;
  border-radius: 10px;
}
.lst_disc li{
  position: relative;
  padding-left: 2rem;
}
.lst_disc li:before{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 1rem;
  top: calc(50% - 5px);
  border-radius: 50%;
  background-color: #fff;
}


.owl-modal-catalog .item{
  position: relative;
  display: block;
}
.dop-img{
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.dop-img img{
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1rem 0;
}
.owl-modal-catalog .owl-prev,
.owl-modal-catalog .owl-next{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  padding-right: 1rem;
  text-align: center;
  font-size: 2em;
  color: #292929;
  transition: all .5s;
  text-shadow: 10px 10px 14px black;
}
.owl-modal-catalog .owl-prev{
  left: -0rem;
}
.owl-modal-catalog .owl-next{
  right: -0rem;
}
.owl-modal-catalog .owl-next:hover,
.owl-modal-catalog .owl-prev:hover{
  text-shadow: 9px 9px 13px black;
}
.owl-modal-catalog .owl-next:active,
.owl-modal-catalog .owl-prev:active{
  text-shadow: 4px 4px 6px black;
}


