@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', Roboto, sans-serif;
  color: #fff;
  background-color: #1c2022;
}
textarea{
  resize: none;
}
/* Fix bootstrap */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
.modal-xl {
  max-width: 1140px;
}
.carousel-control-prev,
.carousel-control-next{
  text-shadow: 2px 2px 2px black;
}
/* Reset */
a {
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a.text_green:hover {
  color: #54bb39;
}
.opasiti-50{
  opacity: .50;
}
.text-size-2{
  font-size: 0.9em;
}
.text-size-4{
  font-size: 1.1em;
}
.text-size-5{
  font-size: 1.2em;
}
.text-size-6{
  font-size: 1.4em;
}
.text-size-7{
  font-size: 1.7em;
}
.font-weight-500{
  font-weight: 500;
}
.text-red{
  color: red;
}
.text_green{
  color: #54bb39;
}
.c__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section_title{
  font-size: 38px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .section_taitl{
    font-size: 26px;
    font-weight: 700;
  }
}

/* Custom btn */
.customBtn{
  transform: skew(-15deg);
  background: #ff8700;
  padding: .9em 1.8em;
  text-align: center;
  border-radius: .55em;
  border: none;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right,#ec3e00,#ff8700);
  box-shadow: 0 10px 30px -10px #ff0c00;
  transition: all .4s;
}
.customBtn:hover{
  color: #fff;
  box-shadow: 0 10px 30px 0px #ff0c00;
}

/* Custom */

/* section-video */
.section-video{
  background-image: linear-gradient(to right,#ec3e00,#ff8700);
}
.v-item {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 20px 30px -10px rgba(123,0,0,.82);
  position: relative;
}
.v-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/icon/i-video.svg) center no-repeat;
  background-size: 56px;
}
.v-ttl {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 15px;
  text-align: center;
  text-shadow: 0 0 10px #000;
  font-size: 12px;
  letter-spacing: .05em;
}
.video__split{
  width: 100%;
  height: 40px;
}
