@media screen and (min-width: 768px) {
  .modal-video__video {
    height: 270px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-video__video {
    height: 500px;
  }
}

.modal-video {
  &__content {
    background: transparent;
    border: none;
  }
  &__body {
    padding: 0.1rem;
    background: transparent;
  }
}
