a, body, div, em, form, h2, h3, html, i, img, input, label, p, s, span, table, tbody, td, th, tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    -webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    font-weight: 600;
}

h2, h3, input, p {
    cursor: text
}

:focus {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    -webkit-text-size-adjust: none;
    height: 100%
}

body {
    height: 100%
}

img {
    border: none;
    display: block
}

input {
    vertical-align: middle
}

::-moz-selection {
    background: #ff8700;
    color: #fff
}

::selection {
    background: #ff8700;
    color: #fff
}

::-moz-selection {
    background: #ff8700;
    color: #fff
}

a {
    text-decoration: none;
    transition: color .2s ease;
    color: #ff8700
}

h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: .03em
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: .03em
}

body {
    font-family: Montserrat, sans-serif;
   
    font-weight: 500
}

input {
    vertical-align: middle
}

@media (max-width: 375px) {
    h2 {
        font-size: 26px
    }
}