.container {
    max-width: 1200px;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

.text-red{
    color: red;
}
.text-green{
    color: green;
    font-weight: 600;
}

header {
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

/* SECTION HEADER */
.section-header {
    overflow: hidden;
    position: relative;
    background-image: url("../img/bg/gory-derevya-peyzazh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 50rem;
}

.section-header::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0.1)));
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.1));
}

.section-header__img {
    position: relative;
    z-index: 1;
}

.section-header__text {
    position: relative;
    z-index: 1;
}

.header-block {
    position: relative;
    z-index: 1;
}

.header-block__logo img{
    width: 4rem;
}

.header-block span {
    color: rgb(246, 131, 65);
}

.header-block__title {
    font-size: 2rem;
    font-weight: bold;
}

.header-phone__btn {
    color: rgb(246, 131, 65);
    text-decoration: underline;
}

.header-phone__item {
    color: #000;
    font-weight: 500;
}

.header-contact img {
    width: 2rem;
}

.header-phone a:hover {
    text-decoration: none;
    color: #f68341;
    transition: .5s;
}

.header-clock {
    width: 2rem;
}

.header-nav {
    position: relative;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(255,162,0,0.3);
    border-radius: 0.3rem;
    height: 2rem;
}

.header-nav__navbar {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
}

.header-nav__navbar li {
    text-align: center;
    list-style: none;
    width: 5rem;
    transition: 1s;
    border-bottom: 2px solid transparent;
}

.header-nav__navbar li:hover {
    border-bottom: 2px solid #f68341;
    transition: 1s;
}

.header-nav__navbar a {
    text-decoration: none;
    color: #000;
    font-family: 'GothamPRO',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    transition: 1s;
}

.header-nav__navbar a:hover {
    color: #f68341;
    transition: 1s;
}

.header-content {
    position: relative;
}

.style-block {
    position: absolute;
    height: 115rem;
    width: 80rem;
    top: -70rem;
    left: -34rem;
    opacity: 0.65;
    -webkit-transform: rotate(115deg);
    transform: rotate(20deg);
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 50px 100px rgba(255,255,255,1);
}

.style-img {
    position: absolute;
    top: 0;
    left: 20rem;
}

.header-content-text {
    position: absolute;
    bottom: 35%;
    left: 40%;
    font-weight: bold;
}

.header-content__text {
    color: #303030;
    font-size: 50px;
    font-family: 'GothamPRO',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

.header-content__img {
    position: relative;
    height: 10rem;
    background-image: url(../img/img/Screenshot_56.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.header-content__icon {
    z-index: 1;
    position: absolute;
    bottom: 3.5rem;
    right: 2.5rem;
    background-color: #1cc42f;
    border-radius: 50%;
}

.header-content__icon:hover {
    cursor: pointer;
}

.header-content__icon:hover + .header-content__hidden-menu {
    display: block;
    opacity: 1;
    transition: 1s;
}

.orange {
    color: rgb(246, 131, 65);
    font-weight: 700;
}

.header-content__hidden-menu li {
    list-style: none;
}

.header-content__hidden-menu {
    position: absolute;
    z-index: 1;
    top: -11rem;
    right: -5rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 15rem;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    opacity: 0;
    transition: 1s;
}

.sale-block {
    position: absolute;
    z-index: 1;
    top: 60%;
    right: 0;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    background-color: #f68341;
}

.sale-block__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.3rem;
    width: 10rem;
    text-align: center;
}

.youtube-btn {
    margin-left: 6rem;
    width: 4rem;
}

@media screen and (max-width: 376px) {
    .header-content__img {
        height: 4rem;
        width: 14rem;
    }

    .header-content-text {
        font-size: 0.5rem;
    }

    .header-content__btn {
        position: absolute;
        z-index: 1;
    }

    .style-img {
        top: -77px;
        left: -7rem;
    }

    .header-content__icon {
        bottom: 1.3rem;
        right: 1rem;
        width: 20px !important;
        height: 20px !important;
    }

    .header-nav {
        height: 0.2rem;
    }

    .header-nav__navbar {
        display: none;
    }

    .style-block {
        width: 40rem;
    }

    .sale-block {
        display: none;
    }

    .youtube-btn {
        display: none;
    }

    .navBurger {
        display: block !important;
    }
}

/* SECTION SALE WEEK */
.section-sale-week-phone__item {
    font-size: 2rem;
    color: #000;
}

.section-sale-week-phone__item:hover {
    text-decoration: none;
    color: #000;
}

/* CATALOG */
.catalog__header {
    margin-top: 2rem;
    position: relative;
    color: white;
    background-image: linear-gradient(0deg, #5a9d0f, #81c916);
}

.catalog__header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolyline fill='%235a9d0f' stroke='none' points='25,0 75,0 50,100 25,0' /%3E%3C/svg%3E");
}

.catalog__card {
    position: relative;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0,0,0,0.6);
}

.catalog__label {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    transform: translate(-10%,-50%);
}

.catalog__card__title {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
}

.c__gradient {
    background-image: linear-gradient(0deg, #5a9d0f, #81c916);
}

.catalog__input__label {
    display: block;
    padding: 0.2rem 1rem;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    line-height: 1.6em;
    cursor: pointer;
    margin: 0.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    border-top: 2px solid #F2F5F8;
    background: #F2F5F8;
    transition: all 0.3s;
}

.catalog__input input:checked + .catalog__input__label {
    color: white;
    background: linear-gradient(#92cf00, #6e9c00);
    border-top: 2px solid #5c8200;
    box-shadow: 0 0 1px #5c8200;
}

.catalog__input input {
    display: none;
}

/* SECTION SALE */
.catalog-sale__card {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #eef;
    border: 5px solid red;
    border-radius: 1rem;
}

.catalog-sale__card::before {
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-top-color: red;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

@media screen and (max-width: 376px) {
    .header-content h1 {
        font-size: 1.5rem;
    }

    .header-content__text {
        font-size: 1.5rem;
    }
}

/* SECTION ADDITIONAL */
.equipment__card {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: white;
    text-align: center;
    box-shadow: 0.1rem 0.3rem 1rem rgba(0,0,0,0.6);
}

.equipment__text {
    font-weight: bold;
}

.equipment__price {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* SECTION ORDER */
.section-order {
    position: relative;
    background-image: url("../img/bg/podlozhka-min.webp");
    background-size: cover;
    background-position: center center;
    height: 30rem;
}

.section-order__title {
    padding-top: 6rem;
    color: #fff;
    font-weight: bold;
}

.section-order img {
    width: 6rem;
}

.section-order__text {
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 376px) {
    .section-order {
        height: 70rem;
    }
}

/* SECTION ADVANTAGE */
.advantages__card {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    border: 2px solid silver;
}


/* section-reviews */
.reviews-img-wrap {
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.reviews-img-wrap img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

.reviews-arrow-left,
.reviews-arrow-right {
    background-color: #daf2ff;
}

.reviews-arrow-left:before,
.reviews-arrow-right:before {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-top-color: #daf2ff;
    top: 35%;
    z-index: 1;
}

.reviews-arrow-left:before {
    border-right-color: #daf2ff;
    transform: translate(-100%, -50%);
    left: 0;
}

.reviews-arrow-right:before {
    border-left-color: #daf2ff;
    transform: translate(100%, -50%);
    right: 0;
}

@media (max-width: 760px) {
    .reviews-arrow-left:before {
        top: 0;
        border-top-color: transparent;
        border-bottom-color: #daf2ff;
        left: 30%;
        transform: translate(-50%, -100%);
    }

    .reviews-arrow-right:before {
        bottom: 0;
        top: auto;
        right: 30%;
        transform: translate(50%, 100%);
    }
}


/* SECTION CONTACT */
.c__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.c__section-contact {
    background-image: url("../img/bg/gory-derevya-peyzazh.jpg");
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.c__bg--white60 {
    background-color: rgba(255,255,255,0.6);
}

.transition--slide {
    position: relative;
    overflow: hidden;
}

.transition--slide::before {
    margin-left: 60px;
    content: " ";
    width: 30px;
    height: 300px;
    background: #ffffff80;
    animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    animation-timing-function: ease-in-out;
    transition: all .1s;
    animation-name: slideme;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
}

@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

/* CUSTOM */
.main-btn {
    display: inline-block;
    height: 4rem;
    border: 0;
    color: #fff !important;
    font-size: 1.4rem;
    -webkit-transition: background .3s;
    transition: background .3s;
    box-shadow: inset -1.03px -3.86px 0 0 #0299cc;
    overflow: hidden;
    border-radius: 1rem;
    text-align: center;
    padding: 0 3rem 0 3rem;

    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'GothamPRO',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 700;
}

.second-btn {
    box-shadow: inset -1.03px -3.86px 0 0 #498935;
}


