@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');


/*.fone_roboto{
  font-family: Roboto, sans-serif;
}*/
/*@font-face {
  font-family: "Phenomena";
  src: url("../font/Phenomena/Phenomena-ExtraBold.eot");
  src: url("../font/Phenomena/Phenomena-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../font/Phenomena/Phenomena-ExtraBold.woff") format("woff"), 
    url("../font/Phenomena/Phenomena-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}*/
/*.font-weight-800{
  font-weight: 800;
}*/

body {
  font-family: Roboto, serif;
}
textarea{
  resize: none;
}
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
}
section{
  overflow: hidden;
}
/* Fix bootstrap */
@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
.modal-xl {
  max-width: 1140px;
}
.carousel-control-prev,
.carousel-control-next{
  text-shadow: 2px 2px 2px black;
}
/* Reset */
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
.opasiti-75{
  opacity: .75;
}
.opasiti-50{
  opacity: .50;
}
.border-radius-30{
  border-radius: 30px;
}
.border-radius-15{
  border-radius: 15px;
}
.text-size-1{
  font-size: 0.8em;
}
.text-size-2{
  font-size: 0.9em;
}
.text-size-4{
  font-size: 1.1em;
}
.text-size-5{
  font-size: 1.2em;
}
.text-size-6{
  font-size: 1.4em;
}
.text-size-7{
  font-size: 1.7em;
}
.text-red{
  color: red;
}
.text_orenge{
  color: #FF862A;
}
.btn_orenge{
  background-color: #f27216;
  transition: all 0.5s;
}
.btn_orenge:hover{
  background-color: #ff8629;
}
.c__section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section_title{
  font-size: 3rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  .section_title{
    font-size: 2rem;
  }
}

/* btn */
.transition--slide {
  position: relative;
  overflow: hidden;
}
.transition--slide::before {
  margin-left: 60px;
  content: "";
  width: 30px;
  height: 300px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

/* btm_castom */
.btm_castom a,
.btm_castom button {
  height: 40px;
  line-height: 40px;
}
.btm_castom,
.btm_castom:active button,
.btm_castom:active a {
  height: 42px;
  line-height: 42px;
}
.btm_castom button,
.btm_castom a {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#92cf00), to(#6e9c00));
  background: linear-gradient(#92cf00, #6e9c00);
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: inline-block;
  box-shadow: 0 4px 0 #5c8200, 0 25px 15px -10px #86c66e;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: center;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.btm_castom button:focus{
  outline: none;
}
.btm_castom:active button,
.btm_castom:active a {
  box-shadow: none;
}
.btm_castom button:hover,
.btm_castom a:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#b5ff03), to(#80b500));
  background: linear-gradient(#b5ff03, #80b500)
}
/* castom btn-outline_color */
.btn-outline_white {
  color: #eff0ef;
  background-color: transparent;
  background-image: none;
  border: 2px solid #eff0ef;
  border-radius: 30px;
  padding: 10px 30px;
}
.btn-outline_white:hover{
  background-color: #eff0ef;
  color: #669e65;
}
.btn-outline_green{
  color: #6ca66b;
  background-color: transparent;
  background-image: none;
  border: 2px solid #6ca66b;
  border-radius: 30px;
  padding: 10px 30px;
}
.btn-outline_green:hover{
  color: #fff;
  background-color: #6ca66b;
  border-color: #6ca66b;
}

/* input castom lable */
.inputNameUp{
  position: relative;
}
.inputNameUp>input{
  border: none;
  border-radius: 0;
  margin: 2rem 0;
  padding: 20px 5px 10px;
  height: auto;
  border-bottom: 1px solid #c9c9c9;
}
.inputNameUp>label{
  color: #c9c9c9;
  position: absolute;
  top: 20px;
  left: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: auto;
}
.inputNameUp>input:focus{
  border-color: #669e65;
  box-shadow: none;
}
.inputNameUp>input:focus + label{
  color: #669e65;
}
.inputNameUp>input:focus + label,
.inputNameUp>input.valid + label{
  top: 2px;
  left: 5px;
  font-size: 14px;
}




/* Custom */
/* section-header */
.section-header{
  background-color: #fff;
}
.header-nav a{
  padding: 1rem 3rem;
  margin: 0 0.5rem;
}

/* section-main */
.section-main{
  background: url(../../public/assets/img/back/bg_main.png) no-repeat center center;
  background-size: cover;
}
.main-perch__garant{
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  font-size: 18px;
  font-weight: 700;
  border: #f27216 solid 2px;
}
.main-btn{
  padding: 1.5rem 5rem;
  border-radius: 40px;
  box-shadow: 2px 2px 15px #000;
}


/* section-features */
.features-img{
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
}
.features-img img{
  object-fit: contain;
  max-width: 100%;
  height: auto;
}
.section-features li{
  list-style-type: disc;
}

/* section-catalog */
.section-catalog img.img-fluid{
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.section-catalog .has-calculator,
.section-attachment .has-calculator{
  background-color: #F3F8FB;
  border: 1px solid #DCE0E1;
}



/* modal-product */
.product-item img{
  max-height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.form-item__title{
  min-height: 72px;
}

.product-item__minus,
.product-item__plus,
.product-item__close{
  cursor: pointer;
  opacity: .5;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.product-item__close .fa-stack,
.product-item__minus .fa-stack,
.product-item__plus .fa-stack{
  font-size: 10px;
  font-weight: 600;
}
.product-item__minus:hover,
.product-item__plus:hover,
.product-item__close:hover{
  opacity: 1;
}
.modal-product-form .form-group input{
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 15px;
  border-color: #000;
  height: auto;
}

.product-wrap .product-item__col-span{
  border: 1px solid rgba(0,0,0, 0);
  width: 100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.product-wrap .product-item__col-span:hover{
  border: 1px solid rgba(0,0,0, 0.5);
}
.product-wrap .product-item__col-input{
  border-color: rgba(0,0,0, 0.8);
  width: 100%;
}
/* btn-top */
.btn-top{
  position: fixed;
  left: 5vw;
  bottom: -70px;
  z-index: 112;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
.btn-top.active{
  bottom: 20px;
}
.btn-top a{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #6ca66b;
  color: #fff;
  font-size: 30px;
  box-shadow: 0 0 25px #999;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
.btn-top a:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* btn-top */
.btn-top{
  position: fixed;
  left: 5vw;
  bottom: -70px;
  z-index: 112;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
.btn-top.active{
  bottom: 20px;
}
.btn-top a{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #6ca66b;
  color: #fff;
  font-size: 30px;
  box-shadow: 0 0 25px #999;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
.btn-top a:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* active-price-catalog */
.active-price-catalog{
  position: fixed;
  right: 5vw;
  top: 100px;
  z-index: 112;
}
.active-catalog{
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  box-shadow: 0 0 25px #999;
  position: relative;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}
.active-catalog:hover{
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  
}
.active-catalog:hover .active-catalog__col{
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.active-catalog__item{
  position: absolute;
  right: -3px;
  bottom: -3px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 18px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
}
.active-catalog__col{
  position: absolute;
  left: -8px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 18px;
  background-color: #292929;
  color: #fff;
  opacity: 0;
  border-radius: 3px;
  white-space: pre;
}