@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

#section-nav{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  padding: 0.2rem 0;
  background-color: white;
  border-bottom: 5px solid #81c916;
  z-index: 999;
}
#section-main{
  padding-top: 8rem;
  overflow: hidden;
  background: url("../../public/assets/img/back/poster.jpg") center no-repeat;
  background-size: cover;
}
#section-contact{
  background: url("../../public/assets/img/contact/manager.jpg") center no-repeat;
  background-size: cover;
}

/* Fix bootstrap */
@media (min-width: 1600px){
  .container {
      max-width: 1540px;
  }
  .modal-xl {
      max-width: 1200px;
  }
  .d-xxl-block {
      display: block!important;
  }
}
@media (max-width: 1600px){
  .modal-dialog {
      max-width: 1100px;
  }
}
@media (max-width: 1200px){
  .modal-dialog {
      max-width: 900px;
  }
}
@media (max-width: 992px){
  .modal-dialog {
      max-width: 700px;
  }
}
@media (max-width: 768px){
  .modal-dialog {
      max-width: 500px;
  }
}
@media (max-width: 576px){
  .h1{
      font-size: 2rem;
  }
  .h2{
      font-size: 1.75rem;
  }
  .h3{
      font-size: 1.5rem;
  }
  .h4{
      font-size: 1.25rem;
  }
  .h5{
      font-size: 1rem;
  }
}
.btn{
  white-space: normal;
}
/* Reset */
.close{
  position: relative;
  z-index: 11;
}
a{
  color: inherit;
}
a:hover{
  color: black;
  text-decoration: none;
}
ul{
  padding: 0;
}
li{
  list-style-type: none;
}
/* castom animate__heartBeat */
.animate__heartBeat{
  -webkit-animation-name: animate__heartBeat;
          animation-name: animate__heartBeat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform: scale(1);
  color: black;
}
@-webkit-keyframes animate__heartBeat{
  0% {
      transform: scale(1);
      color: black;
  }
  14% {
      transform: scale(1.3);
      color: #9b2d30;
  }
  28% {
      transform: scale(1);
      color: black;
  }
  42% {
      transform: scale(1.3);
      color: #9b2d30;
  }
  56%{
    color: black;
  }
  70% {
      transform: scale(1);
  }
}
@keyframes animate__heartBeat{
  0% {
    transform: scale(1);
    color: black;
  }
  14% {
      transform: scale(1.3);
      color: #9b2d30;
  }
  28% {
      transform: scale(1);
      color: black;
  }
  42% {
      transform: scale(1.3);
      color: #9b2d30;
  }
  70% {
      transform: scale(1);
      color: black;
  }
}
/* tada_castom */
.tada_castom{
  -webkit-animation-name: tada_castom;
          animation-name: tada_castom;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes tada_castom {
  0% {transform: scale(1);} 
  5% {transform: scale(0.9) rotate(-3deg);} 
  7%, 11%, 15%, 19%, 23% {transform: scale(1.1) rotate(3deg);} 
  9%, 13%, 17%, 21% {transform: scale(1.1) rotate(-3deg);} 
  25% {transform: scale(1) rotate(0);} 
}
@keyframes tada_castom {
  0% {transform: scale(1);} 
  5% {transform: scale(0.9) rotate(-3deg);} 
  7%, 11%, 15%, 19%, 23% {transform: scale(1.1) rotate(3deg);} 
  9%, 13%, 17%, 21% {transform: scale(1.1) rotate(-3deg);} 
  25% {transform: scale(1) rotate(0);} 
}

/* Custom */
.text-red{color: red;}
.text-alt{font-family: 'Montserrat', sans-serif}

.c__section{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.c__bg--black60{
  background-color: rgba(0,0,0,0.6);
}
.c__btn{
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
  border: 1px solid silver;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  transition: box-shadow 300ms;
}
.c__btn:hover{
  box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
}
.c__btn:focus{
  box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.c__btn--sm{
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.c__btn--lg{
  padding: 1rem 3rem;
  font-size: 2rem;
}
.c__btn--danger{
  color: #543500;
  background-color: #ffe007;
  background-image: linear-gradient(to bottom, #ffe007, #ffa007);
  border: 2px solid #ef9300;
  border-bottom-width: 5px;
  border-radius: 6px;
  text-shadow: 0px 0px 4px white;
}
.c__btn--danger:hover{
  background-color: #ffe007;
  background-image: linear-gradient(to bottom, #ffe007, #ffa007);
}
.c__btn--success{
  color: white;
  background-color: #009a00;
  background-image: linear-gradient(to bottom, #00ba00, #009100);
  border: 2px solid green;
  border-bottom-width: 5px;
}
.c__btn--success:hover{
  background-color: #00bb00;
  background-image: linear-gradient(to bottom, #00c700, #009900);
}

header{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 3rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 2px #1f3c00;
  color: white;
  background: linear-gradient(0deg, #5a9d0f, #81c916);
}
@media (min-width: 768px) {
  header{
      font-size: 3rem;
  }
  .c__btn--lg {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  header{
      font-size: 2rem;
  }
  .c__btn--lg {
    font-size: 1.2rem;
  }
}

.nav__link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}
.nav__phone{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.nav-online{
  font-size: 1.6em;
}
@media(max-width:768px){
  .nav-online{
    font-size: 1.4em;
  }
}

/* main */
.main-form{
  padding: 2rem 1rem;
  color: white;
  background-color: rgba(0,0,0,0.8);
  background-image: url("../../public/assets/img/icon/main_label_h.jpg"), url("../../public/assets/img/icon/main_label_h.jpg"), url("../../public/assets/img/icon/main_label_v.jpg"), url("../../public/assets/img/icon/main_label_v.jpg");
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: top, bottom, left, right;
}
.main-form:before{
  content: '';
  position: absolute;
  display: none;
  top: 0;
  right: -80px;
  z-index: 2;
  width: 200px;
  height: 200px;
  background: url(../../public/assets/img/icon/podarok.png) no-repeat center center;
  background-size: contain;
}
.main__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  max-width: 500px;
  margin: auto;
}
.main__subtitle{
  font-size: 1rem;
}
.main__text-promo{
  margin: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-shadow: 0px 0px 7px black, 0px 0px 5px black, 0px 0px 9px black, 0px 0px 11px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}
.main__presentCol{
  white-space: nowrap;
}
.main__presentCol span{
  display: inline-block;
  margin: 0 1px 0;
  padding: 0.3em;
  background-color: white;
  font-size: 1.1em;
}
.white-nowrap{
  white-space: nowrap;
}
@media (min-width: 320px) { /* YA DOPISAL */
  .main-form:before{
      display: block;
      top: -30px;
      right: -20px;
      width: 110px;
      height: 110px;
  }
}
@media (min-width: 375px) { /* YA DOPISAL */
  .main-form:before{
      display: block;
      top: 75px;
      right: -10px;
      width: 100px;
      height: 100px;
  }
}
@media (min-width: 425px) { /* YA DOPISAL */
  .main-form:before{
      display: block;
      top: 65px;
      right: -10px;
      width: 120px;
      height: 120px;
  }
}
@media (min-width: 768px) { /* YA DOPISAL */
  .main__title{
      font-size: 4rem;
  }
  .main__subtitle{
      font-size: 3rem;
  }
  .main__text-promo{
      font-size: 3rem;
  }
  .main-form:before{
      display: block;
      width: 200px;
      height: 200px;
      top: 0;
      right: -80px;
  }
}
@media (min-width: 992px) {
  .main__title{
      font-size: 3rem;
  }
  .main__subtitle{
      font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .main__title{
      font-size: 3rem;
  }
  .main__subtitle{
      font-size: 2rem;
  }
}

/* COMPARISON */

/*Catalog*/
.filter__buttons {
  font-weight: bold;
  background: linear-gradient(0deg, #66d1ffa3, #66d1ff50);
  box-shadow: 0 0 0px 3px #ffffff96;
  border-radius: 15px;
}
.filter__buttons .filter__button {
  display: inline-flex;
  margin: 0.5rem;
  padding: 5px 15px;
  border-radius: 4px;
  text-shadow: 0px 0px 4px white;
  color: #000;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.3s;
}
.filter__buttons .filter__button:hover {
  background-color: #ddd;
  text-decoration: none;
  box-shadow: 0 0 0px 3px transparent;
}
.filter__buttons .filter__button.active {
  color: #543500;
  background-color: #ffc107;
  box-shadow: 0 0 0px 3px rgba(255, 255, 255, 0.6);
}
.filter__buttons .filter__button.active:hover {
  color: #543500;
  background-color: #ffc107;
}
.catalog__card{
  position: relative;
  margin-bottom: 2rem;
  border-radius: 16px 16px 15px 15px;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
.catalog__block{
  padding: 1rem;
}
.catalog__subblock__title{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  .catalog__block{
      padding: 20px;
  }
}
.catalog__card .table th,
.catalog__card .table td {
  vertical-align: middle;
}
.card__label {
  text-shadow: 0px 0px 3px #000000;
  position: absolute;
  top: 5px;
  left: -5px;
  display: inline;
  padding: 5px 10px;
  border-radius: 6px 6px 6px 6px;
  background-color: #ff7c00;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 2px 2px rgb(255 255 255);
}
.card__label--blue {
  background-color: #9800ff;
  box-shadow: 0px 0px 2px 2px rgb(255 255 255);
}
.catalog__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
}
.catalog__title--bordered{
  text-shadow: 0px 0px 3px #1f3c00;
  color: #ffffff;
  padding: 1rem 0;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(0deg, #5a9d0f, #81c916);
}
.section-catalog{
  overflow: hidden;
}
.catalog__akciya{
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  height: 230px;
  width: 230px;
  z-index: 1;
  text-align: right;
}
.catalog__akciyaSmall{
  position: absolute;
  right: -1rem;
  height: 140px;
  width: 140px;
  z-index: 1;
  text-align: right;
}
.catalog__akciyaSmall img,
.catalog__akciya img{
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media(max-width: 1440px){
  .catalog__akciya{
    height: 180px;
    width: 180px;
    top: -2rem;
    right: -2rem;
  }
}
@media(max-width: 992px){
  .catalog__akciyaSmall,
  .catalog__akciya{
    height: 180px;
    width: 180px;
    top: -1rem;
    right: -3rem;
  }
}
@media(max-width: 768px){
  .catalog__akciyaSmall,
  .catalog__akciya{
    height: 150px;
    width: 150px;
    top: 6rem;
    right: -3rem;
  }
}
@media(max-width: 425px){
  .catalog__akciyaSmall,
  .catalog__akciya{
    height: 130px;
    width: 130px;
    top: 5.5rem;
    right: -1.2rem;
  }
}
@media(max-width: 375px){
  .catalog__akciyaSmall,
  .catalog__akciya{
    height: 110px;
    width: 110px;
    top: 6rem;
    right: -1.2rem;
  }
}
@media(max-width: 320px){
  .catalog__akciyaSmall,
  .catalog__akciya{
    height: 110px;
    width: 110px;
    top: 6.5rem;
    right: -1.4rem;
  }
}
.catalog__price--old{
  text-align: center;
  text-decoration: line-through;
}
.catalog__price{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: red;
  text-align: center;
}
.catalog__img{
  position: relative;
}
.catalog__bank{
  padding: 5px;
}
.bank-item{
  font-size: 0.8em;
  border-radius: 10px;
}
@media(max-width: 768px){
  .bank-item{
    padding: 0.15rem;
    font-size: 0.6em;
  }
}
.catalog__input {
  display: inline-block;
}
.catalog__text__label{
  display: block;
  padding: 0.2rem 0.5rem;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.6em;
  margin: 0.2rem;
}
.catalog__input__label {
  display: block;
  padding: 0.2rem 0.5rem;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  line-height: 1.6em;
  cursor: pointer;
  margin: 0.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-radius: 4px;
  border-top: 2px solid #00000000;
  background: #0000000a;
  transition: all 0.3s;
}
.catalog__input__label:hover {
  background: #d1dce6;
  border-top: 2px solid #b0c2d4;
  box-shadow: 0 0 1px #b0c2d4;
}
.catalog__input input:checked + .catalog__input__label {
  text-shadow: 0px 0px 3px #1f3c00;
  color: white;
  background: linear-gradient(#92cf00, #6e9c00);
  border-top: 2px solid #5c8200;
  box-shadow: 0 0 1px #5c8200;
}
.catalog__input input {
  display:none;
}
.manager{
  display: inline-block;
  position: relative;
}
.manager__status{
  position: absolute;
  bottom: 0;
  left: 0;
}
.manager__status-icon{
  text-shadow: 3px 3px 3px white, -3px -3px 3px white, -3px 3px 3px white, 3px -3px 3px white;
}
.tab-content__imgDop{
  max-width: 80px;
}
.has-calculator{
  transition: all 0.4s;
}
.has-calculator .nav-link{
  border: 2px solid #ccc;
  box-shadow: 5px 5px 10px #aaa;
  padding: 0;
  margin: 0.25rem;
  transition: all 0.4s;
}
.has-calculator .nav-link.active{
  border: 2px solid red;
  box-shadow: 2px 2px 5px red;
}
.has-calculator.remove{
  opacity: 0;
  height: 0;
  pointer-events: none;
}
@media(max-width: 992px){
  .col-lg-4 .tab-content__imgDop{
    max-width: 100px;
  }
}

/* equipment */
.equipment__card{
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: white;
  text-align: center;
  box-shadow: 0.1rem 0.3rem 1rem rgba(0,0,0,0.6);
}
.equipment__price{
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.equipment__text{
  margin-top: 1rem;
  font-weight: bold;
}

/* advantages */
.advantages__card{
  display: flex;
  margin-bottom: 2rem;
}
.advantages__img{
  color: blue;
  margin-right: 1rem;
}
.advantages__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.review__card{
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid silver;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .review__card:nth-of-type(2n+1){
      transform: translateX(2%);
  }
  .review__card:nth-of-type(2n){
      transform: translateX(-2%);
  }
}
.review__title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.review__text{
  padding: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  background-color: #efeffe;
  border-left: 5px solid deepskyblue;
}
.hero-hexagons{
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.transition--slide {
  position: relative;
  overflow: hidden;
}
.transition--slide::before {
  margin-left: 60px;
  content: " ";
  width: 30px;
  height: 500px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform: rotate(45deg);
}
@-webkit-keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}
@keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}
.provercaPhone__inputPhone{
  font-size: 32px;
  color: #000;
}
.app-border{
  background-color: #fff;
  background-image: url("../../public/assets/img/icon/main_label_h.jpg"), url("../../public/assets/img/icon/main_label_h.jpg"), url("../../public/assets/img/icon/main_label_v.jpg"), url("../../public/assets/img/icon/main_label_v.jpg");
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: top, bottom, left, right;
}
.catalog__fast{
  position: absolute;
  bottom: 0;
  right: 16px;
  transform: translateY(100%);
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
.catalog__fast--count{
  color: red;
  text-decoration: underline;
}
@media (min-width: 1000px) {
  .catalog__fast{
      font-size: 1.2rem;
  }
}
@media (min-width: 1600px) {
  .catalog__fast{
      font-size: 1.5rem;
  }
}

/* section-gallery2 */
.gallery__img{
  border-radius: 1rem;
}
.gallery__icon{
  text-shadow: 0px 0px 4px #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 5rem;
}

/* section-raccoon */
.section-raccoon{
  overflow: hidden;
  background: url(../assets/img/back/bg_raccoon.jpg) no-repeat center center;
  background-size: cover;
  padding: 2rem 0;
}
.raccoon-imgWrap img{
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-raccoon .raccoon-imgWrap{
  height: 20rem;
  position: relative;
  display: inline-block;
  transform: translate(90%);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-name: raccoon-imgWrap__animate;
          animation-name: raccoon-imgWrap__animate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.active.section-raccoon .raccoon-imgWrap{
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes raccoon-imgWrap__animate{
  0% {
    transform: translate(90%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes raccoon-imgWrap__animate{
  0% {
    transform: translate(90%);
  }
  100% {
    transform: translate(0%);
  }
}
.section-raccoon .raccoon-dialog__text{
  transition: all 0.4s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  height: 0px;
  overflow: hidden;
  -webkit-animation-name: appearance__animate;
          animation-name: appearance__animate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.active.section-raccoon .raccoon-dialog__text{
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes appearance__animate{
  0% {
    height: 0px;
    overflow: hidden;
  }
  99% {
    height: 171px;
    overflow: hidden;
  }
  100% {
    height: 171px;
    overflow: visible;
  }
}
@keyframes appearance__animate{
  0% {
    height: 0px;
    overflow: hidden;
  }
  99% {
    height: 171px;
    overflow: hidden;
  }
  100% {
    height: 171px;
    overflow: visible;
  }
}
.raccoon-dialog::before{
  content: '';
	position: absolute;
	border: 16px solid transparent;
	border-top-color: #ffc107;
	border-left-color: #ffc107;
	bottom: 1rem;
  right: -30px;
}
.active.section-raccoon .raccoon-dialog{
  position: absolute;
  border-radius: 10px;
  top: 50%;
  -webkit-animation-name: appearance-chat__animate;
          animation-name: appearance-chat__animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes appearance-chat__animate{
  0% {
    opacity: 0;
    left: 20%;
    transform: scale(0) rotate(-45deg)translate(-50%,-50%);
  }
  25% {
    left: 15%;
    transform: scale(0.4) rotate(-45deg)translate(-50%,-50%);
  }
  35% {
    left: 15%;
    transform: scale(0.5) rotate(-40deg)translate(-50%,-50%);
  }
  45% {
    left: 15%;
    transform: scale(0.6) rotate(-35deg)translate(-50%,-50%);
  }
  55% {
    left: 15%;
    transform: scale(0.7) rotate(-30deg)translate(-60%,-50%);
  }
  65% {
    left: 10%;
    transform: scale(0.8) rotate(-20deg)translate(-70%,-50%);
  }
  75% {
    left: 5%;
    transform: scale(0.9) rotate(-10deg)translate(-80%,-50%);
  }
  100% {
    opacity: 1;
    left: 0%;
    transform: scale(1) rotate(0deg)translate(-100%,-50%);
  }
}
@keyframes appearance-chat__animate{
  0% {
    opacity: 0;
    left: 20%;
    transform: scale(0) rotate(-45deg)translate(-50%,-50%);
  }
  25% {
    left: 15%;
    transform: scale(0.4) rotate(-45deg)translate(-50%,-50%);
  }
  35% {
    left: 15%;
    transform: scale(0.5) rotate(-40deg)translate(-50%,-50%);
  }
  45% {
    left: 15%;
    transform: scale(0.6) rotate(-35deg)translate(-50%,-50%);
  }
  55% {
    left: 15%;
    transform: scale(0.7) rotate(-30deg)translate(-60%,-50%);
  }
  65% {
    left: 10%;
    transform: scale(0.8) rotate(-20deg)translate(-70%,-50%);
  }
  75% {
    left: 5%;
    transform: scale(0.9) rotate(-10deg)translate(-80%,-50%);
  }
  100% {
    opacity: 1;
    left: 0%;
    transform: scale(1) rotate(0deg)translate(-100%,-50%);
  }
}
@media(max-width: 657px){
  @-webkit-keyframes appearance__animate{
    0% {
      height: 0px;
      overflow: hidden;
    }
    99% {
      height: 230px;
      overflow: hidden;
    }
    100% {
      height: 230px;
      overflow: visible;
    }
  }
  @keyframes appearance__animate{
    0% {
      height: 0px;
      overflow: hidden;
    }
    99% {
      height: 230px;
      overflow: hidden;
    }
    100% {
      height: 230px;
      overflow: visible;
    }
  }
  .section-raccoon .raccoon-imgWrap img{
    width: 280px;
    height: auto;
    margin-left: auto;
    transform: translate(100%);
    display: block;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .active.section-raccoon .raccoon-imgWrap img{
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  .section-raccoon .raccoon-imgWrap{
    width: 100%;
    height: auto;
    transform: translate(0%);
    -webkit-animation: none;
        animation: none;
    transform: translate(0%,0%);
    text-align: left;
  }
  .active.section-raccoon .raccoon-dialog{
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
    width: 320px;
    position: relative;
    top: auto;
    left: calc(50% - 160px);
    transform: translate(0%,0%);
  }
  .section-raccoon .raccoon-dialog::before{
    bottom: -30px;
    right: 3rem;
    border-left-color: transparent;
    border-right-color: #ffc107;
  }
}
@media(max-width: 425px){
  .section-raccoon .raccoon-dialog::before{
    right: auto;
    left: 3rem;
  }
}