@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.otf") format("opentype");
}

body {
  font-family: "Helvetica", sans-serif;
  overflow-x: hidden;
}

/* FIX BOOTSTRAP CSS */
.container {
  max-width: 1400px;
}

/* FIX */
.header {
  position: fixed;
  width: 100%;
  background-color: #37353A;
  color: #fff;
  padding: 0.5rem;
  z-index: 3;
}

/* SECTION HEADER */
.header-main {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header-main__left {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #252830;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .header-main__left {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 83%, 100% 100%, 58% 93%, 24% 87%, 0 83%, 0% 35%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 83%, 100% 100%, 58% 93%, 24% 87%, 0 83%, 0% 35%, 0 0);
  }
}

.header-title {
  font-size: 56px;
  color: #2196F3;
}

.text-red {
  color: red;
}

.header-subtitle {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
}

.header-subtitle2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.header-main__right {
  background-image: url("../img/bg/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 83%, 80% 87%, 48% 93%, 0 100%, 0% 70%, 0% 35%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 83%, 80% 87%, 48% 93%, 0 100%, 0% 70%, 0% 35%, 0 0);
  height: 100%;
}

/* SECTION TOGETHER */
.together-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 2rem;
}

.together-title span {
  color: #2196F3;
}

.together-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.together-count {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2196F3;
}

.together-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

@media screen and (min-width: 1400px) {
  .together-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 4rem;
  }

  .together-count {
    font-size: 3rem;
  }

  .together-subtitle {
    font-size: 3rem;
  }
}
  

/* SECTION CATALOG */
.catalog__input-color {
  display: inline-block;
}
.catalog__input-color input {
  display: none;
}
.catalog__input-color__label{
  position: relative;
  cursor: pointer;
}
.catalog__input-color__label .img__wrap {
  height: 130px;
  width: 130px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid transparent;
  overflow: hidden;
  transition: border .5s;
}
.catalog__input-color__label .img__wrap img{
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__input-color__label .fa-check{
  opacity: 0;
  transition: opacity .5s;
}
.catalog__input-color input:checked + .catalog__input-color__label .img__wrap{
  border: 3px solid #9aca2d;
}
.catalog__input-color input:checked + .catalog__input-color__label .catalog-color__text{
  font-weight: bold;
  transition: all .5s;
}
.catalog__input-color input:checked + .catalog__input-color__label .fa-check{
  opacity: 1;
}
.owl-catalog{
  overflow: hidden;
}
.owl-catalog .owl-nav .owl-prev,
.owl-catalog .owl-nav .owl-next{
  position: absolute;
  top: 50%;
  transform: scale(0) translate(0,-50%);
  transition: transform .3s;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;
  opacity: 0.7;
}
.owl-catalog .owl-nav .owl-prev{
  left: 1s0px;
  background: rgba(0,0,0,.65);
}
.owl-catalog .owl-nav .owl-next{
  right: 10px;
  background: rgba(0,0,0,.65);
}
.owl-catalog .owl-nav .owl-prev:hover,
.owl-catalog .owl-nav .owl-next:hover{
  opacity: 1;
}
.owl-catalog .owl-nav i{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.owl-catalog:hover .owl-nav>div{
  transform: scale(1) translate(0,-50%);
}
.owl-catalog .owl-dots{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%) scale(0);
  transition: transform .3s;
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-catalog .owl-dots .owl-dot{
  height: 14px;
  width: 14px;
  margin: 5px;
  background-color: rgba(0,0,0,.4);
  display: block;
  border-radius: 50%;
  position: relative;
}
.owl-catalog .owl-dots .owl-dot:before{
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: opacity .3s;
}
.owl-catalog .owl-dots .owl-dot.active{
  background-color: rgba(255,255,255,.3);
}
.owl-catalog .owl-dots .owl-dot.active:before,
.owl-catalog .owl-dots .owl-dot:hover:before{
  opacity: 1;
}
.owl-catalog:hover .owl-dots{
  transform: translate(-50%,50%) scale(1);
}

.section-catalog{
  background: #F1F1F1;
}
.catalogCart-item__text{
  color: rgba(51, 51, 51, 0.7);
  font-size: 0.9rem;
}
.catalogCart-item{
  position: relative;
  padding: 0.5rem 0;
}
.catalogCart-item:before {
  position: absolute;
  font-style: normal;
  top: 5px;
  left: 5px;
  line-height: 1;
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 1.8em;
  margin-right: 0.5em;
}
.catalogCart-item.fa__gift:before {
  content: '\f06b';
  color: #ff4545;
}
.catalogCart-item.fa__marker:before {
  content: '\f041';
  color: #99ca2d;
}
.catalogCart-item.fa__shield:before {
  content: '\f132';
  color: #ffa500;
}

.catalog__buyDop{
  color: #fff;
  background: #ec1a0e;
  font-weight: bold;
  padding: .2em 1em;
  padding-left: 5em;
  border: none;
  position: relative;
  margin: 1.5em 0;
  display: inline-block;
}
a.catalog__buyDop:hover{
  color: #fff;
  text-decoration: none;
}
.catalog__buyDop:before{
  content: '';
  width: 4em;
  height: 4em;
  position: absolute;
  border-radius: 50%;
  left: 0.5em;
  top: -1.5em;
  background: #fff;
  border: 1px solid #f1f1f1;
}
.catalog__buyDop:after {
  content: '';
  width: 4em;
  height: 4em;
  position: absolute;
  left: 0.5em;
  top: -1.5em;
  background: url(../img/icon/bbq.png) 50% no-repeat;
  background-size: contain;
}
.old-prise{
  font-weight: bold;
  color: #2c5834;
  font-size: 40px;
  position: relative;
}
span.old-prise:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ff4545;
  transform: rotate(161deg);
  bottom: 43%;
}

.catalog-form input,
.catalog-form .form-group{
  min-width: 200px;
  border-radius: 0;
}
.catalog-form .btn{
  background: #9aca2d;
  color: #fff;
  border-radius: 0;
  border: 1px solid #9aca2d;
  transition: all .5s;
}
.catalog-form .btn:hover{
  background: #ffa500;
  border: 1px solid #ffa500;
}
@media(max-width: 768px){
  .catalog-form{
    flex-direction: column;
  }
}

/* SECTION FEEDBACK  */
.feedback-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  color: #2196F3;
}

.feedback-subtitle {
  font-size: 30px;
  font-weight: bold;
}

.feedback-text {
  font-family: 'Roboto', sans-serif;
}

/* SECTION GET DISCOUNT */
.get-discount {
  background-color: #252830;
  color: #fff;
}

.discount-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  color: #2196F3;
}

.discount-text {
  font-family: 'Roboto', sans-serif;
}

.discount-subtitle {
  font-size: 30px;
  font-weight: bold;
}

.countdown-week {
  font-size: 1.5em;
}


/* FOOTER */
.footer {
  background-image: url("../img/bg/card_bg9.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.c__bg--white60 {
  background-color: rgba(255,255,255,0.5);
}

.contact__phone {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #2196F3;
  font-weight: bold;
  color: #000;
}

.contact__phone:hover {
  text-decoration: none;
  color: #000;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15)!important;
}

/* CUSTOM */
.custom-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px 40px;
  padding: 20px 40px;
  background: #2196F3;
  border-radius: 30px;
  border: 1px solid #2196F3;
}

.line {
  height: 50px;
  background-color: #252830;
}

.about-product {
  font-family: 'Roboto', sans-serif;
}

.count {
  border: 1px solid #000;
  width: 50px;
}

.count::-webkit-inner-spin-button { 
  opacity: 1;
}

.footer-title {
  font-size: 2rem;
  font-weight: bold;
}

.transition--slide {
  position: relative;
  overflow: hidden;
}

.transition--slide::before {
  margin-left: 60px;
  content: " ";
  width: 30px;
  height: 300px;
  background: #ffffff80;
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  transition: all .1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform: rotate(45deg);
}

@-webkit-keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}

@keyframes slideme {
  0% {
      left: -30px;
      margin-left: 0;
  }
  30% {
      left: 110%;
      margin-left: 80px;
  }
  100% {
      left: 110%;
      margin-left: 80px;
  }
}

/* modal */
.bg-question {
  background: url(../img/bg/wopros1.jpg) center no-repeat;
  background-size: cover;
}